@import "../../static/scss/vars";
//========== HEADER ==========
.Burger{
  margin: -4px 0 0 0 !important;
  @media only screen and (max-width : 767px) {
    padding: 0 !important;
  }

  .BurgerBox {
    vertical-align: middle;
  }
}

.BurgerSlider{
  &.Burger{
    min-height: 18px;
    min-width: 43px;
    background: transparent;
    border: 0;
    @media only screen and (max-width : 767px) {
      min-width: 18px;
    }
  }
  &:focus{
    outline: none;
  }
}
.BurgerActive{
  .BurgerInner{
    background: $color-red;
    &:before,
    &:after{
       background: $color-red;
     }
  }
}
.header-top {
  position: relative;
  max-width: 1760px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0 15px;

  .dropdown-menu.active{
    display: flex;
    z-index: 3;
    &:before{
      right: 100%;
    }
    &:after {
      left: 99%;
    }

    &:before,
    &:after {
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      background: #ffffff;
    }
  }
  .close-burger{
    font-family: $barlow-sb-font;
    font-size: 14px;
    color: #121521;
    text-transform: uppercase;
  }
  .title-drop-menu{
    font-family: $barlow-bi-font;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 68px;
    letter-spacing: 0.56px;
    border-bottom: 1px solid #DADADD;
    @media only screen and (max-width : 991px) {
      font-size: 45px;
      line-height: 55px;
    }
    @media only screen and (max-width : 767px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .drop-menu-item{
    .nav-item{
      margin: 0;
      line-height: 56px;
      font-family: $barlow-bi-font;
      font-size: 22px;
      text-transform: uppercase;
      a{
        padding: 0 16px;
        color: #121521;
        display: flex;
        &.nav-active{
          background: #F2F2F3;
          color: $color-red;
        }
      }
      &:hover{
        background: #F2F2F3;
        a{
          color: $color-red;
        }
      }
      @media only screen and (max-width : 767px) {
        .text{
          display: flex;
        }
      }
    }
  }
  @media only screen and (max-width : 575px) {
    min-height: 48px;
  }

  &-left {
    @media only screen and (max-width : 767px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  .Burger:hover {
    .BurgerInner,
    .BurgerInner:before,
    .BurgerInner:after {
      background-color: $color-red;
    }
  }
}

.burger {
  margin-right: 27px;
  width: 18px;
  height: 12px;

  &-btn {
    display: block;
    width: 100%;
  }

  &-line {
    display: block;
    height: 2px;
    margin-bottom: 2px;
    background-color: #000;
    transition: background-color .2s;
  }
  .active,
  &:hover {
    .burger-line {
      background-color: $color-red;
    }
  }
}

.logo-item {
  line-height: 30px;

  svg {
    max-width: 100%;
  }
}

.header .logo-item {
  @media only screen and (max-width : 767px) {
    display: block;
    width: 90px;
  }
}

.user-login {
  &-item {
    font-size: 14px;
    text-transform: uppercase;
    font-family: $barlow-sb-font;
    color: $color-text;
    transition: 0.2s;
    &:hover {
      color: $color-red;
    }

    &.sign-in {
      margin-right: 23px;
    }
  }
}

.header-nav {
  min-height: 56px;
  padding: 0 15px;
  border-top: 1px solid $color-gray;
  @media only screen and (max-width : 575px) {
    min-height: 48px;
  }
}

.nav{
  &-list {
    justify-content: space-around;
    @media only screen and (max-width : 767px) {
      max-width: 480px;
      width: 100%;
    }
    @media only screen and (max-width : 575px) {
      justify-content: space-between;
    }
  }

  &-item {
    margin: 0 20px;
    @media only screen and (max-width : 575px) {
      margin: 0 5px;
    }
  }

  &-link {
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $barlow-sb-font;
    color: $color-text;
    transition: 0.2s;

    &:hover {
      color: $color-red;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 32px;
      height: 32px;

      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        object-position: center;
      }
    }

    .text {
      @media only screen and (max-width : 767px) {
        display: none;
      }
    }
  }
  &-active{
    color: $color-red;
  }
}
//========== HEADER END ==========
