@import "../../static/scss/vars";
//========== list news ==========
.list {
  &-news {
    margin-bottom: 96px;
    @media screen and (max-width: 767px) {
      padding: 0 15px;
      margin-bottom: 50px;
    }

    .title-h {
      margin-bottom: 20px;
      font-family: $barlow-bi-font;
      font-size: 28px;
      line-height: 40px;
      text-transform: uppercase;
      @media only screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 14px;
        margin-left: -15px;
      }
    }

    &-content {
      margin-bottom: 20px;
      .col-md-4{
        .title{
          text-transform: inherit;
        }
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }

  &-item {
    height: 100%;

    &-main {
      height: 100%;

      .img-box {
        position: relative;
        height: 100%;
        overflow: hidden;
        transition: 0.2s;
        background-size: cover;
        background-position: center;
      }

      .info {
        position: absolute;
        top: 0;
        padding: 36px 40px;
        height: 100%;
        z-index: 1;
        width: 100%;
        @media screen and (max-width: 767px){
          padding: 12px 15px;
        }
      }

      .title {
        font-size: 35px;
        line-height: 48px;
        color: #fff;
        margin-bottom: 22px;
        @media screen and (max-width: 991px) {
          font-size: 24px;
          line-height: 33px;
        }
        .rectangle {
          width: 48px;
          height: 48px;

          &:before {
            width: 35px;
            height: 48px;
          }
          @media screen and (max-width: 991px){
            width: 23px;
            height: 33px;
            &:before {
              left: 3px;
              width: 18px;
              height: 33px;

            }
          }
        }
      }

      .mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: $gradient-bg-small;
      }
    }

    .img-box {
      position: relative;
      background-position: center;
      background-size: cover;
      margin-bottom: 24px;
      transition: 0.2s;
      overflow: hidden;
      max-height: 256px;
      @media screen and (max-width: 575px) {
        max-height: 169px;
        margin-bottom: 20px;
      }

      img{
        width: inherit;
        //height: auto;
        min-height: 200px;
      }
    }

    .info {
      flex-grow: 1;
      @media screen and (max-width: 767px) {
        padding-bottom: 15px;
      }
    }

    .box-link .title {
      margin-bottom: 0;
      font-size: 22px;
      line-height: 28px;
      font-family: $barlow-bi-font;
      transition: 0.2s;
      @media screen and (max-width: 991px) {
        font-size: 18px;
        line-height: 23px;
      }

      .rectangle {
        width: 28px;
        height: 28px;
        &:before {
          left: 3px;
          width: 20px;
          height: 28px;
        }
        @media screen and (max-width: 991px){
          width: 23px;
          height: 23px;
          &:before {
            left: 3px;
            width: 18px;
            height: 23px;

          }
        }
      }
    }

    .text {
      margin:7px 0px;
      @media screen and (max-width: 991px){
        font-size: 15px;
        line-height: 22px;
      }
    }

    .desc {
      &-item {
        margin-right: 28px;
        font-size: 14px;
        line-height: 14px;
        color: $color-text;

        .number {
          display: inline-block;
          margin-right: 6px;
          text-transform: uppercase;
          font-family: $barlow-sb-font;
        }

        .text {
          display: inline-block;
          opacity: .65;
          color: $color-text-light;
        }
      }
    }
  }
}

.box-link {
  color: $color-text;
  @media only screen and (max-width : 767px) {
    min-height: 330px;
  }

  &:hover {
    .img-box {
      filter: grayscale(100%);

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba( 0, 0, 0, 0.65);
      }
    }

    .title {
      color: $color-red;
    }
  }
}
//========== list news ==========

div.list-item-main {
  min-height: 528px;
  @media only screen and (max-width : 991px) {
    min-height: 400px;
  }

  @media only screen and (max-width : 767px) {
    height: 288px;
    margin-bottom: 15px;
  }

  @media only screen and (max-width : 575px) {
    min-height: 330px;
  }
}
.mobile-column{
  @media only screen and (max-width : 767px) {
    padding: 0;
  }
}
