@import "../../static/scss/vars";
//============== SPORT LIST POLL PAGE ======
.logo-intro {
  background-color: $color-text;

  &-wrapp {
    height: 168px;
    @media only screen and (max-width : 767px) {
      height: 64px;
    }
  }

  &-img {
    position: relative;
    width: 96px;
    height: 96px;
    margin-right: 32px;
    background-color: #fff;
    border-radius: 50%;
    @media only screen and (max-width : 767px) {
      position: relative;
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }

    img {
      @include center;
      width: 54px;
      @media only screen and (max-width : 767px) {
        width: 27px;
      }
    }
  }

  .title-h {
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    font-family: $barlow-bi-font;
    @media only screen and (max-width : 767px) {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
//============== SPORT LIST POLL END ======
