//============ upcoming ==========
.upcoming {
  margin-bottom: 100px;
  @media only screen and (max-width : 767px) {
    margin-bottom: 48px;
  }

  .list-item-main {
    position: relative;
    height: 350px;
    margin-bottom: 24px;
    @media only screen and (min-width : 1430px) {
      height: 436px;
    }
    @media only screen and (max-width : 991px) {
      height: 750px;
    }
    @media only screen and (max-width : 767px) {
      height: 510px;
      margin-bottom: 15px;
    }
    @media only screen and (max-width : 575px) {
      height: calc(100vw - 30px);
    }

    .img-box {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info {
      padding: 28px 32px;
      @media only screen and (max-width : 991px) {
        padding: 28px 20px;
      }
      @media only screen and (max-width : 767px) {
        padding: 10px 15px;
      }
    }

    .title {
      font-size: 28px;
      line-height: 40px;
      @media only screen and (max-width : 767px) {
        font-size: 18px;
        line-height: 26px;
      }

      .rectangle {
        width: 40px;
        height: 40px;
        @media only screen and (max-width : 767px) {
          width: 26px;
          height: 26px;
        }

        &:before {
          width: 30px;
          height: 40px;
          left: 5px;
          @media only screen and (max-width : 767px) {
            width: 18px;
            height: 26px;
          }
        }
      }
    }

    .desc {
      margin-top: 13px;
    }
  }

  .slider-button {
    width: 192px;
    height: 48px;

    .arrow-link .icon-arrow {
      width: 12px;
      height: 18px;
    }
  }

  .btn-wrapp {
    @media only screen and (max-width : 767px) {
      justify-content: space-around;
    }

    .slider-dots {
      @media only screen and (max-width : 767px) {
        margin-bottom: 0;
      }
    }
  }
}
//============ upcoming end==========
