.popular-searches {
  .btn-wrapp {
    margin-bottom: 33px;
    @media only screen and (max-width : 767px) {
      margin-bottom: 18px;
    }
  }

  .search {
    display: flex;
    width: 100%;
    height: 48px;
    margin-bottom: 44px;

    form {
      display: flex;
      width: 100%;
    }

    input[type=search] {
      width: 100%;
      padding: 10px 5px 10px 35px;
    }

    &-icon {
      left: 12px;
      width: 16px;
      height: 16px;
    }
  }
}
//============ popular-search end==========
