@import "../../static/scss/vars";
.charts {
  @media only screen and (max-width : 575px) {
    margin: 0 -15px;
  }

  &-head {
    margin-bottom: 53px;
    padding-left: 25px;
    @media only screen and (max-width : 575px) {
      flex-direction: column;
      padding-left: 15px;
      margin-bottom: 23px;
    }
    &__reports {
      margin-bottom: 0;
    }

    .icon-red-sidebar {
      position: relative;
      min-width: 72px;
      height: 64px;
      margin-right: 20px;
      @media only screen and (max-width : 575px) {
        width: 49px;
        height: 40px;
      }

      &:before {
        position: absolute;
        content: "";
        top: -50px;
        left: 0;
        width: 72px;
        height: 64px;
        background: url("/static/images/arrow-red-sidebar.svg") no-repeat center;
        background-size: 100%;
        @media only screen and (max-width : 575px) {
          top: 0;
          width: 49px;
          height: 40px;
        }
      }
    }

    .title {
      max-width: 328px;
      font-size: 28px;
      line-height: 40px;
      @media only screen and (max-width : 991px) {
        max-width: inherit;
      }
      @media only screen and (max-width : 575px) {
        font-size: 18px;
        line-height: 26px;
        padding-left: 0;
      }
    }

    &__icon-arrow {
      @media only screen and (max-width : 991px) {
        max-width: 415px;
        margin: 0 auto 22px;
      }
      @media only screen and (max-width : 575px) {
        flex-direction: column;
      }

      .title {
        @media only screen and (max-width : 575px) {
          padding-left: 0;
        }
      }
    }
  }

  &-item {
    margin-bottom: 30px;
    border: 1px solid $color-gray;
    @media only screen and (max-width : 575px) {
      border-left: none;
      border-right: none;
      display: none;
    }

    &.no-active {
      @media only screen and (max-width : 575px) {
        display: none;
      }
    }

    .title {
      position: relative;
      font-size: 22px;
      line-height: 28px;
      text-transform: none;
      transition: .2s;

      .icon {
        @include center-height;
        right: 0;
        width: 24px;
        cursor: pointer;
      }
    }

    .details {
      .title {
        margin-bottom: 15px;
      }
    }
  }

  //============= acordion =============
  .accordion-parent {
    padding: 15px 16px;
    transition: .2s;
    cursor: pointer;

    &:hover {
      .title {
        color: $color-red;
      }

      .icon {
        opacity: 1;
      }
    }
  }

  .card-box {
    display: none;
    padding: 15px 16px 24px;
  }

  .icon {
    opacity: .5;
    &.open {
      display: none;
    }
  }

  &-item.active {
    .card-box {
      display: block;
    }

    .icon.open {
      display: block;
    }

    .icon.close {
      display: none;
    }
  }
}

.chart {
  &-item {
    margin: 15px auto 30px;
    width: 100%;
    height: auto;
    & > svg{
      margin: 0 auto 30px;
      display: block;
    }
    .empty-chart{
      margin: 15px auto 30px;
      width: 150px;
      height: 150px;
      display: block;
    }
    .wrap-legend{
      display: inline-block;
      column-count: 2;
      .vx-legend-item{
        width: 100%;
      }
    }

    &__width-big {
      width: 100%;
      height: auto;
    }
  }

  .select {
    margin-bottom: 30px;
  }

  .col-item {
    width: 49%;
  }

  .rectangle {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    &:before {
      width: 19px;
      height: 24px;
    }
  }

  &-data {
    &-item {
      font-size: 14px;

      &__first {
        margin-bottom: 15px;
      }

      .number {
        font-family: $barlow-sb-font;
        margin-right: 5px;
      }

      .name {
        color: $color-text-light;
      }
    }
  }

  &__archived {
    @media only screen and (min-width : 768px) {
      display: flex!important;
      justify-content: space-between;
      align-items: center;
    }

    .chart {
      &-item {
        @media only screen and (min-width : 768px) {
          margin: 10px 15px 30px 85px;
        }

        &__width-big {
          @media only screen and (min-width : 768px) {
            width: 40%;
          }
        }
      }

      &-data {
        @media only screen and (min-width : 768px) {
          flex-direction: column;
        }

        &-item {
          @media only screen and (min-width : 768px) {
            margin-bottom: 15px;
          }
        }
      }

      .col-item {
        @media only screen and (min-width : 768px) {
          width: 100%;
        }
      }
    }

    .details {
      @media only screen and (min-width : 768px) {
        width: 35%;
      }
    }
  }
}

.top-info-bottom {
  .button__general {
    padding: 0 30px;
  }
  @media only screen and (max-width : 575px) {
    flex-direction: column !important;
    .button__general {
      display: inline-block;
      margin: 25px auto 0 0;
      padding: 0 15px;
    }
  }
}
.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-hasFocus{
  .public-DraftEditorPlaceholder-inner{
    display: none;
  }
}

.preloader {
  position: relative;
  //top: 50%;
  //left: 50%;
  width: 180px;
  height: 48px;
  margin: -30px 0 0 -40px;

  .lines {
    width: 180px;
    height: 40px;
    position: absolute;

    .line {
      width: 180px;
      height: 10px;
      background-color: $color-red;
      position: absolute;
      clip: rect(0, 0, 20px, 0);

      &.line-1 {
        top: 0;
        animation: slide 2s ease 0s infinite;
      }

      &.line-2 {
        top: 15px;
        animation: slide 2s ease 0.25s infinite;

      }

      &.line-3 {
        top: 30px;
        animation: slide 2s ease 0.5s infinite;
      }
    }
  }

  .loading-text {
    position: relative;
    top: 50px;
    text-align: center;
    width: 100%;
    color: $color-red;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    line-height: 10px;
    height: 10px;
    animation: fade 1s ease 0s infinite;
  }
}

@keyframes slide {
  0% {
    clip: rect(0, 0, 20px, 0);
  }

  30% {
    clip: rect(0, 180px, 20px, 0);
  }

  50% {
    clip: rect(0, 180px, 20px, 0);
  }

  80% {
    clip: rect(0, 180px, 20px, 180px);
  }

  100% {
    clip: rect(0, 180px, 20px, 180px);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
