.admin-wrapp {
  margin: 50px 0;
  padding: 30px;
  background-color: #eff3f6;
  border-radius: .25rem;

  .nav-item{
    margin: 0;
  }

  label,
  .form-title {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 15px;
    color: #898989;
  }

  input,
  select {
    padding: 5px 15px;
    height: 36px;
    border: 1px solid #dfe3e9;
    color: #586170;
    font-weight: 700;

    &:focus {
      box-shadow: none;
    }
  }

  .css-bg1rzq-control {
    border: 1px solid #dfe3e9;
  }

  .css-1hwfws3,
  .css-bg1rzq-control {
    height: 36px;
    color: #586170;
    font-weight: 700;

    &:focus {
      box-shadow: none;
    }
  }

  .admin-head {
    border-bottom: 1px solid #c5c5c5;

    .nav-tabs {
      .nav-link,
      .nav-link:hover,
      .nav-link.active {
        font-size: 15px;
        font-weight: 700;
        color: #354052;
        border: 1px solid #c5c5c5;
        border-bottom: none;
      }

      .nav-link.active {
        font-size: 17px;
      }

      .nav-link {
        width: 144px;
        height: 70px;
        padding: 0;
        line-height: 70px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .btn__small {
      height: 36px;
      padding: 0 15px;
    }
  }

  .card {
    border: 1px solid #e6eaee;
  }

  .card-body {
    min-height: 455px;
  }

  .card-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #354052;
  }

  .tab-pane {
    margin-top: 15px;
  }

  .gray-bg {
    padding: 10px 0 20px;
    background-color: #f7f9fb;

    .col-item {
      padding: 0 5px;
    }
  }

  .item-close {
    width: fit-content;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #586170;
    font-weight: 700;
    background-color: #eff3f6;
    border-radius: .25rem;

    .close {
      margin-left: 12px;
      padding-bottom: 7px;
      font-size: 32px;

      &:focus {
        outline: none;
      }
    }
  }

  .btn {
    &.btn__gray {
      min-width: 224px;
      height: 46px;
      font-weight: bold;
      color: #000;
      border: none;
      background-color: #cfcfcf;
    }

    &.btn__black {
      min-width: 100px;
      height: 30px;
      padding: 0 12px;
      font-weight: bold;
      color: #fff;
      border: none;
      background-color: #000;
    }
  }

  .switch-wrapp {
    margin-top: -18px;

    .text {
      margin-right: 23px;
    }
  }

  .custom-switch .custom-control-label {
    &::before {
      top: 0;
      left: -49px;
      width: 50px;
      height: 25px;
      background-color: #dfe1e5;
      border: none;
      box-shadow: none;
      border-radius: 1.5rem;
    }

    &::after {
      top: 2px;
      left: -47px;
      width: 21px;
      height: 21px;
      background-color: #fff;
      box-shadow: none;
      border-radius: 50%;
    }
  }

  .custom-control-input:checked~.custom-control-label {
    &::before {
      background-color: #000;
      border: none;
      box-shadow: none;
    }

    &::after {
       left: -34px;
    }
  }

  .ScrollbarTrack {
    width: 5px!important;
    right: 3px!important;
    background: transparent !important;
  }

  .ScrollbarThumb {
    height: 150px !important;
    background: #d8d8d8;
  }
}



