@import "../../static/scss/vars";

.related-slider {
  overflow: hidden;
  margin-bottom: 129px;
  @media only screen and (max-width : 767px) {
    margin-bottom: 50px;
  }

  &-head {
    margin-bottom: 38px;
    @media only screen and (max-width : 767px) {
      margin-bottom: 20px;
    }

    .title {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 0;
      @media only screen and (max-width : 767px) {
        font-size: 28px;
        line-height: 36px;
      }

      .rectangle {
        width: 15px;
        height: 56px;
        @media only screen and (max-width : 767px) {
          height: 36px;
        }

        &:before {
          width: 40px;
          height: 56px;
          top: -6px;
          @media only screen and (max-width : 767px) {
            width: 30px;
            height: 36px;
          }
        }
      }
    }

    .slider-button {
      width: 192px;
      height: 48px;

      .arrow-link .icon-arrow {
        width: 12px;
        height: 18px;
      }
    }

    .btn-wrapp {
      @media only screen and (max-width : 767px) {
        justify-content: space-around;
      }
    }
  }

  &-content {
    height: 430px;
    margin: 0 0 0 auto;
    @media only screen and (max-width : 767px) {
      overflow: hidden;
      height: 510px;
    }
    @media only screen and (max-width : 575px) {
      height: calc(100vw - 30px);
    }
  }

  .slider-dots {
    @media only screen and (max-width : 767px) {
      margin: 15px 0 0;
    }
  }

  &-item {
    position: relative;
    min-width: 435px;
    height: 435px;
    margin-right: 32px;
    @media only screen and (min-width : 1430px) {
      min-width: 436px;
      height: 436px;
    }
    @media only screen and (max-width : 767px) {
      min-width: 510px;
      height: 510px;
      margin: 0;
    }
    @media only screen and (max-width : 575px) {
      min-width: 100%;
      height: calc(100vw - 30px);
    }

    .img-box {
      height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      @media only screen and (max-width : 767px) {
        height: 510px;
      }
      @media only screen and (max-width : 575px) {
        height: 100%;
      }
    }

    .info {
      position: absolute;
      top: 0;
      padding: 28px 32px;
      height: 100%;
      z-index: 1;
      @media only screen and (max-width : 991px) {
        padding: 28px 20px;
      }
      @media only screen and (max-width : 767px) {
        padding: 10px 15px;
      }
    }

    .title {
      color: #fff;
      font-size: 28px;
      line-height: 40px;
      margin: 0;
      @media only screen and (max-width : 575px) {
        font-size: 18px;
        line-height: 26px;
      }

      .rectangle {
        width: 40px;
        height: 40px;
        @media only screen and (max-width : 767px) {
          width: 26px;
          height: 26px;
        }

        &:before {
          width: 30px;
          height: 40px;
          left: 5px;
          @media only screen and (max-width : 767px) {
            width: 18px;
            height: 26px;
          }
        }
      }
    }

    .desc {
      margin-top: 22px;
    }

    .mask {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $gradient-bg-small;
    }
  }

  .btn-wrapp {
    justify-content: space-around;
  }

  .swiper-container {
    @media only screen and (max-width : 575px) {
       overflow: hidden;
    }
  }
}


