@import "../../static/scss/vars";

//============== POLL-DETAILS BANNER PAGE ======
.intro__poll-details {
  min-height: 570px;
  @media only screen and (max-width : 991px) {
    height: auto;
    max-height: inherit;
  }
}

.banner {
  @media only screen and (max-width : 991px) {
    flex-direction: column;
  }
  &-item {
    width: 68vw;
    max-height: 720px;
    min-height: 570px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    @media only screen and (max-width : 991px) {
      width: 100%;
      margin-bottom: 24px;
    }
    @media only screen and (max-width : 767px) {
      max-height: 500px;
      min-height: auto;
    }
  }

  .container-h-100 {
    height: 100%;
  }

  &-content {
    position: relative;
    max-width: 930px;
    height: 100%;
    margin: 0 0 0 auto;
    padding: 20px 15px 44px;
    z-index: 1;
    color: #fff;
    @media only screen and (max-width : 767px) {
      padding: 20px 15px 15px 15px;
    }

    .info {
      max-width: 780px;
    }
  }

  .title {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 22px;
    @media only screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 45px;
    }
    @media only screen and (max-width: 575px) {
      font-size: 36px;
      line-height: 37px;
    }

    .rectangle {
      width: 56px;
      height: 56px;
      @media only screen and (max-width: 575px) {
        width: 50px;
        height: 37px;
      }

      &:before {
        width: 40px;
        height: 56px;
        @media only screen and (max-width: 575px) {
          width: 35px;
          height: 40px;
        }
      }
    }
  }

  .tags {
    margin-top: 16px;
    @media only screen and (max-width: 767px) {
      margin-top: 5px;
    }

    .title {
      font-size: 14px;
      line-height: 2px;
      color: #fff;
      font-family: $barlow-sb-font;
      margin-right: 8px;
    }

    &-list {
      color: $color-red;
      font-family: $barlow-sb-font;
      text-transform: uppercase;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 560px;
    height: 100%;
    background: $gradient-bg;
    @media only screen and (max-width : 991px) {
      //width: 100%;
      max-height: 720px;
      min-height: 570px;
      height: 100vh;
    }
    @media only screen and (max-width : 767px) {
      max-height: 500px;
      min-height: auto;
    }
  }

  &-list {
    width: 40%;
    max-height: 720px;
    min-height: 570px;
    height: 100vh;
    background-color: $color-text;
    @media only screen and (max-width : 991px) {
      width: 100%;
      max-height: 720px;
      min-height: 560px;
      height: 100vh;
    }
    @media only screen and (max-width : 575px) {
      max-height: inherit;
      min-height: inherit;
      height: auto;
    }

    &-content {
      max-width: 490px;
      height: 100%;
      width: 100%;
      //float: left;
      margin: 0 auto;
      padding: 96px 35px 48px 35px;
      @media screen and (min-width : 1199px) {
        margin: 0 auto;
        padding: 96px 35px 48px 35px;
      }
      @media screen and (min-width : 1430px) {
        margin: inherit;
        padding: 96px 15px 48px 64px;
      }

      @media only screen and (max-width : 575px) {
        padding: 30px 15px;
      }
    }

    .title {
      position: relative;
      color: #fff;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 38px;
      z-index: 1;
      @media only screen and (max-width : 575px) {
        font-size: 18px;
        line-height: 26px;
      }

      .rectangle {
        width: 14px;
        height: 40px;
        @media only screen and (max-width : 575px) {
          height: 28px;
        }

        &:before {
          width: 30px;
          height: 40px;
          @media only screen and (max-width : 575px) {
            width: 22px;
            height: 28px;
          }
        }
      }
    }

    .time-block {
      .icon {
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background: url("/static/images/time-icon.svg") no-repeat 50% 50%;
        margin-right: 10px;
      }

      .text {
        color: $white;
      }
    }
  }

  .info-box {
    @media only screen and (max-width : 991px) {
      margin-bottom: 100px;
    }
  }
}
//============== POLL-DETAILS BANNER PAGE END======

//============== POLL-DETAILS BANNER PAGE ======
.banner-list {
  &-info {
    height: 100%;
  }

  .you-chose {
    color: $white;
    font-size: 45px;
    text-align: center;
    p {
      color: $color-red;
    }
  }

  .list {
    margin-bottom: 24px;
    padding-left: 20px;
    @media only screen and (max-width : 575px) {
      margin-bottom: 15px;
    }

    &-item {
      position: relative;
      padding: 12px 0 12px 10px;
      list-style: upper-alpha;
      font-family: $barlow-sb-font;
      color: $color-red;
      font-size: 14px;
      cursor: pointer;
      @media only screen and (max-width : 575px) {
        font-family: $default-font;
      }

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: -20px;
        width: calc( 100% + 20px );
        height: 1px;
        background-color: $color-light-gray;
      }

      &:last-child {
        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          left: -20px;
          width: calc( 100% + 20px );
          height: 1px;
          background-color: $color-light-gray;
        }
      }

      &:hover {
        .radio-block {
          color: #fff;
        }

        .checkmark-radio {
          border: 2px solid $color-red;
        }
      }
    }
  }

  .btn-wrapp {
    margin-bottom: 20px;
  }

  .notification-box {
    height: 100%;

    &-content {
      max-width: 220px;
      min-width: 207px;
      margin: 0 80px 0 auto;
    }

    .icon {
      position: relative;
      width: 96px;
      margin: 0 40px 20px auto;
      z-index: 1;
      @media only screen and (max-width : 575px) {
        width: 60px;
        margin: 0 auto 18px;
      }

      &:before {
        @include center-height;
        content: "";
        right: -18px;
        width: 70px;
        height: 70px;
        background: url("/static/images/checked-red.svg") no-repeat center;
        @media only screen and (max-width : 575px) {
          right: -25px;
          background-size: 100%;
        }
      }
    }

    .rectangle {
      width: 96px;
      height: 96px;
      @media only screen and (max-width : 575px) {
        width: 60px;
        height: 60px;
      }

      &:before {
        width: 74px;
        height: 96px;
        @media only screen and (max-width : 575px) {
          width: 45px;
          height: 60px;
        }
      }
    }

    .title {
      margin-bottom: 0;
    }

    .title__small {
      font-family: $barlow-bi-font;
      text-transform: uppercase;
      @media only screen and (max-width : 575px) {
        margin-bottom: 46px;
      }
    }
  }

  .text-info {
    .text {
      font-family: $barlow-sbi-font;
      color: #fff;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
}

//============== POLL-DETAILS BANNER PAGE END======
