@import "../../../static/scss/vars";

.profile {
    &-item {
      &-wrapp {
        @media only screen and (max-width : 575px) {
          flex-direction: column;
        }
      }

      .col-box {
        width: 50%;
        @media only screen and (max-width : 575px) {
          width: 100%;
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .tabs-head {
        padding: 0 15px;
      }

      .tabs-head-item {
        display: none;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 10px;
        font-family: $barlow-bi-font;
        @media only screen and (max-width : 575px) {
          display: inline-block;
        }
      }

      .title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 13px;
        padding-left: 32px;
        white-space: nowrap;
        @media only screen and (max-width : 767px) {
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 10px;
        }
        @media only screen and (max-width : 575px) {
          padding-left: 0;
          margin-bottom: 8px;

           &.active {
             color: $color-red;
           }
        }
      }

      .votes-list {
        height: 528px;
        padding: 16px 0;
        border: 1px solid $color-gray;
        overflow-y: auto;
        @media only screen and (max-width : 767px) {
          padding: 10px 0;
        }
        @media only screen and (max-width : 575px) {
          padding: 0;
          border: none;
          height: auto;
          overflow: inherit;
        }
      }

      .votes-item {
        margin: 0;
        padding: 4px 60px 4px 24px;
        transition: .2s;
        @media only screen and (max-width : 767px) {
          padding: 4px 40px 4px 10px;
        }
        @media only screen and (max-width : 575px) {
          padding: 15px 40px 15px 15px;
        }

        &:hover {
          background-color: #F2F2F3;
        }

        .date {
          @media only screen and (max-width : 767px) {
            font-size: 12px;
            margin-bottom: 0;
          }
        }

        .upvotes {
          font-size: 14px;
          margin-bottom: 8px;
          @media only screen and (max-width : 767px) {
            font-size: 12px;
            margin-bottom: 0;
          }
        }

        .data {
          margin-left: 29px;
          font-family: $barlow-sb-font;
          text-transform: uppercase;
          color: $color-text;
          font-size: 14px;
          @media only screen and (max-width : 767px) {
            margin-left: 10px;
          }
        }

        .edit-item {
          @include center-height;
          display: none;
          right: 24px;
          width: 24px;
          height: 24px;
          @media only screen and (max-width : 767px) {
            right: 8px;
          }
        }

        &.active {
          position: relative;

          .edit-item {
            display: block;
          }
        }
      }

      &-posts {
        .votes-list {
          border-right: none;
        }
      }
    }
}