@import "../../../static/scss/vars";

.profile {
  &-content {
    &__notifications {
      border-bottom: none;
    }
    .favorites {
      &__notifications {
        .favorites-list {
          .check-block {
            width: 100%;
            border-right: 1px solid $color-gray;
          }
        }

      }
    }

    .form {
      min-height: 224px;
      margin-bottom: 15px;

      input[type="email"],
      input[type="password"] {
        width: 100%;
        height: 48px;
        margin-bottom: 16px;
        padding: 12px 16px;
        border: 1px solid #dadadd;
      }

      .change-password {
        font-size: 14px;
        text-transform: uppercase;
        font-family: $barlow-sb-font;
        color: $color-text;
        &.active {
          color: $color-red;
        }
      }
    }

    .favorites-list__services .check-block {
        .text {
          font-size: 14px;
          text-transform: uppercase;
          font-family: $barlow-sb-font;
          color: $color-text;
        }
        .icon {
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 30px;
          margin-right: 5px;
        }
    }
  }
}