@import "../../../static/scss/vars";


.profile {
    &-list {
        height: 528px;
        padding: 16px 0;
        border: 1px solid $color-gray;
        overflow-y: auto;
        @media only screen and (max-width : 767px) {
          padding: 10px 0;
        }
        @media only screen and (max-width : 575px) {
          margin-bottom: 24px;
          padding: 0;
          border: none;
          height: auto;
          overflow: inherit;
        }

      .list-item {
        padding: 10px 24px;
        @media only screen and (max-width : 575px) {
          border: none;
          padding: 8px 15px;
        }

        .avatar {
          min-width: 48px;
          height: 48px;
          margin-right: 16px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 48px;
            height: 48px;
            object-fit: contain;
            object-position: center;
          }

          &__no-img {
            position: relative;
            background-color: #F2F2F3;

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 28px;
              height: 28px;
              margin: auto;
            }
          }
        }

        .user-name {
          color: $color-text;
        }

        &:hover {
          background-color: #F2F2F3;

          .user-name {
            color: $color-red;
          }
        }
      }
    }

}