@import "../../../static/scss/vars";

.content.profile {
  @media only screen and (max-width : 575px) {
    padding: 0;
  }
}

.intro-bg {
  background-color: $color-text;

  &-wrapp {
    height: 168px;
    @media only screen and (max-width : 767px) {
      height: 64px;
    }
  }

  .title {
    position: relative;
    display: inline-block;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 0;
    color: #fff;
    z-index: 1;
    @media only screen and (max-width : 767px) {
      font-size: 28px;
      line-height: 40px;
    }

    .rectangle {
      height: 58px;
      @media only screen and (max-width : 767px) {
        height: 36px;
      }

      &:before {
        width: 46px;
        height: 58px;
        left: 6px;
        top: -7px;
        @media only screen and (max-width : 767px) {
          width: 28px;
          height: 36px;
          top: -3px;
        }
      }
    }
  }
}

.profile {
  .DayPickerInput input{
    padding: 12px 16px;
  }
  .DayPickerInput-OverlayWrapper {
    position: relative;
    width: 100%;
  }

  .DayPickerInput-Overlay {
    position: absolute;
    left: 0;
    z-index: 3;
    background: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(#F6423F, 0.15);
  }
  &-top {
    padding: 11px 0;
    border-bottom: 1px solid $color-gray;
    @media only screen and (max-width : 575px) {
      margin: 0 -15px;
      padding: 0;
      border-bottom: none;
    }
  }

  &-tabs {
    @media only screen and (max-width : 575px) {
      width: 100%;
    }
    .list {
      &-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        @media only screen and (max-width : 767px) {
          margin-right: 10px;
        }
        @media only screen and (max-width : 575px) {
          display: block;
          margin: 0;
          padding: 12px 15px;
          border-top: 1px solid $color-gray;
        }

        &:first-child {
          border-top: none;
        }
      }

      .link {
        position: relative;
        transition: .2s;
        @media only screen and (max-width : 575px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%;
        }

        .text {
          font-family: $barlow-sb-font;
          color: $color-text;
          text-transform: uppercase;
          font-size: 14px;
          @media only screen and (max-width: 767px) {
            font-size: 13px;
            line-height: 24px;
            margin: 0;
          }
          @media only screen and (max-width : 575px) {
            font-size: 14px;
          }
        }

        &:hover:before ,
        &.active:before {
          position: absolute;
          content: "";
          bottom: -16px;
          width: 100%;
          height: 2px;
          background-color: $color-red;
          @media only screen and (max-width: 575px) {
            display: none;
          }
        }

        .icon {
          width: 24px;
          height: 24px;

          &-minus,
          &-plus {
            display: none;
          }

          img {
            width: 24px;
            height: 24px;
            margin-top: -5px;
          }
        }

        .icon-plus {
          @media only screen and (max-width : 575px) {
            display: block;
          }
        }

        &.active {
          .icon-plus {
            @media only screen and (max-width : 575px) {
              display: none;
            }
          }

          .icon-minus {
            @media only screen and (max-width : 575px) {
              display: block;
            }
          }
        }
      }
    }
  }

  .sign-out {
    .link {
      font-family: $barlow-sb-font;
      color: $color-text;
      text-transform: uppercase;
      font-size: 14px;
      @media only screen and (max-width : 767px) {
        font-size: 13px;
      }

      .icon {
        display: inline-block;
        vertical-align: top;
        width: 18px;
        height: 18px;
        margin-left: 8px;
        @media only screen and (max-width : 767px) {
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
      }
    }
  }

  &-item {
    padding: 24px 0;
    @media only screen and (max-width: 575px) {
      padding: 10px 0 32px;
    }

    &__padd-mobile {
      @media only screen and (max-width: 575px) {
        padding: 10px 15px 32px;
      }
    }

    .left-sidebar {
      max-width: 264px;
      @media only screen and (max-width: 767px) {
        margin: 0 auto 16px;
      }
      @media only screen and (max-width: 575px) {
        max-width: 100%;
      }

      .avatar {
        position: relative;
        width: 104px;
        height: 104px;
        margin: 0 auto 10px;

        &-item {
          border-radius: 50%;
          overflow: hidden;

          .link {
            position: static;
          }
          .img-box {
            display: block;
            width: 104px;
            height: 104px;
          }
        }

        img {
          width: 104px;
          height: 104px;
          object-fit: contain;
          object-position: center;
        }

        .icon-edit {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 32px;
          height: 32px;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      .user-name {
        font-family: $helvetica-b-font
      }

      .name {
        margin-bottom: 16px;
      }

      .list {
        padding: 7px 0;
        border-top: 1px solid $color-gray;

        &-item {
          padding: 0;
          border: none;
        }

        .link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          padding: 4px 16px;
          font-size: 14px;

          .text {
            margin: 0;
            color: $color-light-gray;
            font-family: $default-font;
            text-transform: none;
          }

          .value {
            font-family: $barlow-sb-font;
            text-transform: uppercase;
            font-size: 14px;
            color: $color-text;
          }
        }

        &-item {
          &__level {
            margin-top: 8px;
            background-color: $color-text;

            .link {
              .text {
                color: $color-text-light;
              }

              .value {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  &-content {
    margin-bottom: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid $color-gray;
    @media only screen and (max-width: 575px) {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 16px;
    }

    .text {
      font-size: 14px;
      color: $color-light-gray;
      margin-bottom: 8px;

      &.required {
        position: relative;

        .required {
          position: absolute;
          display: inline-block;
          top: 0;
          right: 0;
        }
      }

      &-no-valid {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;
        display: none;
        &.no-valid {
          display: block;
        }
      }
    }

    .form {
      input[type="text"],
      textarea {
        width: 100%;
        padding: 12px 16px;
        border: 1px solid $color-gray;

        &:hover,
        &:focus {
          border: 1px solid $color-light-gray;
        }
      }

      input[type="text"], input[type="email"] {
        height: 48px;
        margin-bottom: 16px;

        &.no-valid {
          margin-bottom: 8px;
          border: 1px solid $color-red;
        }
      }

      textarea {
        height: 160px;
        resize: none;
        @media only screen and (max-width: 575px) {
          margin-bottom: 8px;
        }
      }
    }

    .check-block {
      .text {
        margin-right: 14px;

        &-color {
          color: $color-light-gray;
        }

        //&.checked-active {
        //  color: $color-text;
        //}
      }

      .toggle-bg {
        margin-bottom: 8px;

        //&.checked-active {
        //  background: $color-red;
        //}
      }
    }

    .select select {
      font-family: $default-font;
      font-size: 16px;
      text-transform: none;
      color: #B2B2B8;
    }

    .select-active select {
      color: $color-text;
    }

    .favorites {
      &-list {
        margin-bottom: 15px;

        .select,
        .check-block {
          width: 50%;
          height: 48px;
          border: 1px solid $color-gray;
          border-top: none;
          @media only screen and (max-width: 575px) {
            width: 100%;
          }
        }

        .check-block {
          padding: 12px 16px;
          border-right: none;
          @media only screen and (max-width: 575px) {
            border-right: 1px solid $color-gray;
          }

          .text,
          .toggle-bg {
            margin-bottom: 0;
          }

          .text {
            font-size: 16px;
          }
        }

        .favorites-item:first-child {
          .check-block,
          .select {
            border-top: 1px solid $color-gray;
          }

          .select {
            @media only screen and (max-width: 575px) {
              border-top: none;
            }
          }
        }
      }

      &-item {
        @media only screen and (max-width: 575px) {
          flex-direction: column;
          margin-bottom: 8px;

          .check-block {
            border-top: 1px solid $color-gray;
          }
        }
      }
    }

    .social-profiles {
      width: 50%;
      @media only screen and (max-width: 575px) {
        width: 100%;
      }

      &-item {
        height: 48px;
        margin-bottom: 8px;
        border: 1px solid $color-gray;

        .icon {
          width: 48px;
          height: 46px;
          border-right: 1px solid $color-gray;
          background: #f2f2f3;

          img {
            width: 32px;
            height: 32px;
            margin: 0 auto;
          }
          svg {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
          }
        }

        input.text {
          width: 100%;
          height: 100%;
          border: 0;
        }

        .text {
          margin: 0;
          padding: 0 16px;
          font-size: 16px;
          color: $color-text;
        }
      }
    }
  }
}
