@import "../../../static/scss/vars";

.profile {
    &-list {
        height: 528px;
        padding: 16px 0;
        border: 1px solid $color-gray;
        overflow-y: auto;
        @media only screen and (max-width : 767px) {
          padding: 10px 0;
        }
        @media only screen and (max-width : 575px) {
          margin-bottom: 24px;
          padding: 0;
          border: none;
          height: auto;
          overflow: inherit;
        }

      .list-item {
        padding: 10px 24px;
        @media only screen and (max-width : 575px) {
          border: none;
          padding: 8px 15px;
        }

        .link {
          min-width: 48px;
          height: 48px;
          margin-right: 16px;
          display: flex;
          justify-content: left;
          align-items: center;
          width: 100%;

          .img-box {
            width: 48px;
            height: 48px;
            object-fit: contain;
            object-position: center;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 16px;
            margin-bottom: 0;
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            &.no-img {
              background-color: #F2F2F3;
              background-size: 60%;
            }
          }
        }
      }
    }

    &-item {
      &-notifications,
      &-messages {
        .user-name {
          font-family: $helvetica-b-font;
          @media only screen and (max-width : 575px) {
            font-size: 15px;
          }
        }

        .date {
          font-size: 14px;
          color: $color-text-light;
        }

        .profile-list .list-item {
          cursor: pointer;
          @media only screen and (max-width : 991px) {
            flex-direction: column;
          }

          &:hover {
            .user-name {
              color: $color-text;
            }
          }
        }

        .btn-wrapp {
          @media only screen and (max-width : 991px) {
            width: 100%;
            margin-top: 8px;
            padding-left: 65px;
          }
        }

        .button__transparent {
          border: 1px solid $color-gray;

          .text {
            margin: 0;
            font-size: 14px;
            color: $color-text;
          }

          .icon {
            margin-right: 0;
            height: 30px;
          }
        }
      }

      &-notifications {
        .profile-list .list-item {
          @media only screen and (max-width : 575px) {
            flex-direction: row;
          }
        }
      }
    }
}