@import "../../../static/scss/vars";

.content.user-votes {
  @media only screen and (max-width : 575px) {
    padding: 0;
  }
}

.votes {
  &-list {
    margin-bottom: 24px;
  }

  &-item {
    margin-bottom: 16px;

    .date {
      font-size: 14px;
      color: $color-text-light;
      margin-bottom: 8px;
    }
  }

  &-link {
    font-family: $barlow-b-font;
    color: $color-text;
    transition: .2s;
    margin: 0 7px;

    &:hover {
      color: $color-red;
    }
  }
}
