.block-list-wrapp {
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem 0;
  }

  .card-title,
  .btn-wrapp {
    padding: 0 1.25rem;
  }

  .block-list {
    height: 214px;
    margin-bottom: 10px;

    &-item {
      padding: 15px 1.25rem;
      border-bottom: 1px solid #e6eaee;

      &:first-child {
        border-top: 1px solid #e6eaee;
      }
    }

    .user {
      &-avatar {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #d8d8d8;
      }
      
      &-name {
        font-weight: 700;
        color: #354052;
      }
    }

    .btn.btn__gray {
      min-width: 100px;
      height: 30px;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .ScrollbarThumb {
    background: #d8d8d8 !important;
  }
}
