@import "../../static/scss/vars";
.user {
  &-info {
    max-height: inherit;
    height: auto;
    padding: 58px 0;
    background-color: $color-text;
    color: #fff;
    @media only screen and (max-width : 575px) {
      padding: 25px 0 17px;
    }
    
    .avatar-wrapp {
      max-width: 264px;
  
      @media only screen and (max-width : 767px) {
        max-width: 100%;
      }
    }

    .avatar {
      width: 208px;
      height: 208px;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      @media only screen and (max-width : 991px) {
        width: 150px;
        height: 150px;
      }
      @media only screen and (max-width : 767px) {
        margin: 0 auto 30px;
      }
      @media only screen and (max-width : 575px) {
        width: 104px;
        height: 104px;
        margin-bottom: 16px;
      }

      img {
        //width: 208px;
        //height: 208px;
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;
        @media only screen and (max-width : 991px) {
          width: 150px;
          height: 150px;
        }
        @media only screen and (max-width : 575px) {
          width: 104px;
          height: 104px;
        }
      }
    }

    .title {
      position: relative;
      display: inline-block;
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 15px;
      z-index: 1;
      @media only screen and (max-width : 991px) {
        display: block;
      }
      @media only screen and (max-width : 575px) {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 7px;
      }

      .rectangle {
        height: 56px;
        @media only screen and (max-width : 575px) {
          height: 36px;
        }

        &:before {
          width: 44px;
          height: 56px;
          top: -7px;
          left: 7px;
          @media only screen and (max-width : 575px) {
            width: 28px;
            height: 36px;
          }
        }
      }

      .status {
        position: absolute;
        top: 0;
        left: calc(100% + 8px);
        display: inline-block;
        font-size: 14px;
        line-height: 24px;
        font-family: $barlow-sb-font;
        @media only screen and (max-width : 991px) {
          top: -15px;
          left: inherit;
          right: 0;
        }
        @media only screen and (max-width : 345px) {
          font-size: 11px;
        }
      }
    }

    .description {
      margin-bottom: 24px;
      @media only screen and (max-width : 1199px) {
        flex-direction: column;
      }

      .col-left {
        max-width: 690px;
        width: 100%;
        margin-right: 30px;
        @media only screen and (max-width : 1199px) {
          max-width: 100%;
          margin-right: 0;
        }
      }
    }

    .user-data {
      font-size: 14px;
      color: $color-text-light;
      margin-bottom: 16px;
      @media only screen and (max-width : 575px) {
        margin-bottom: 10px;
      }
      .name {
        position: relative;
        padding-right: 5px;

        &:before {
          position: absolute;
          content: "";
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 13px;
          background-color: $color-text-light;
        }
      }
      
      .adress {
        padding-left: 5px;
      }
    }

    .details {
      font-size: 14px;
      border-top: $border-btn;
      border-bottom: $border-btn;
      margin-bottom: 16px;
      @media only screen and (max-width : 575px) {
        flex-direction: column;
      }

      &-item {
        width: 50%;
        padding: 12px 24px;
        @media only screen and (max-width : 575px) {
          width: 100%;
          padding: 8px 0;
        }

        &__left {
          border-right: $border-btn;
          @media only screen and (max-width : 575px) {
            border-right: none;
            border-bottom: $border-btn;
          }
        }
      }

      .count {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: $barlow-sb-font
      }
    }

    .favorites {
      @media only screen and (max-width : 1199px) {
        margin-bottom: 16px;
      }
      .text {
        margin-bottom: 8px;
        font-size: 14px;
        color: $color-text-light;
      }

      &-item {
        display: inline-block;
      }
    }

    .social-profiles {
      .title {
        text-transform: none;
        font-family: $default-font;
        font-size: 14px;
        line-height: 24px;
        color: $color-text-light;
        margin-bottom: 8px;
      }

      .social-list {
        .list-link {
          display: flex;
          align-items: center;
          height: 40px;
          width: auto;

          &:hover .text{
            color: $color-red;
          }
        }
        .icon {
          margin-right: 15px;
          width: 24px;
          height: 24px;
          display: block;
          svg {
            max-width: 100%;
            fill: #fff;
            path {
              fill: #fff;
            }
          }
        }

        .text {
          color: #fff;
          line-height: 24px;
          margin: 0;
          transition: .2s;
        }
      }
    }

    .btn-wrapp {
      svg {
        vertical-align: top;
      }
      @media only screen and (max-width : 575px) {
        flex-direction: column;
      }
      .button__general {
        margin: 0 16px 0 0;
        color: #fff;
        border: $border-btn;
        background: transparent;
        outline: none;
        &.disabled {
          opacity: .5;
          path{
            fill: #ffffff;
          }
          &:hover {
            border: $border-btn;
            background: transparent;
            cursor: not-allowed;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: $color-red;
          border: 1px solid transparent;
          path{
            fill: #ffffff;
          }
        }
        @media only screen and (max-width : 991px) {
          min-width: 158px;
        }
        @media only screen and (max-width : 575px) {
          width: 100%;
          margin-bottom: 8px;
        }
      }
    }
  }
}

.content.user-post {
  @media only screen and (max-width : 575px) {
    padding: 0;
  }
}

.post-opinions {
  @media only screen and (max-width : 991px) {
    padding-top: 8px;
  }
  &-head {
    margin: 0 0 38px;
    align-items: center;
    @media only screen and (max-width : 991px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 16px 0 8px;
    }

    .title {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 0;
      @media only screen and (max-width : 991px) {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
      }
      @media only screen and (max-width : 575px) {
        margin-bottom: 6px;
      }

      .rectangle {
        width: 15px;
        height: 56px;
        @media only screen and (max-width : 991px) {
          height: 36px;
        }

        &:before {
          width: 40px;
          height: 56px;
          top: -7px;
          left: 7px;
          @media only screen and (max-width : 991px) {
            width: 30px;
            height: 36px;
          }
        }
      }
    }

    .button__general {
      min-width: 48px;
      width: 48px;
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
      }
    }

    .select {
      width: 169px;
      margin-left: 8px;
    }
  }

  .opinions-item-post {
    padding: 16px 0;
    border-top: 1px solid $color-gray;
  }

  .btn-wrapp {
    @media only screen and (max-width : 991px) {
      margin: 8px 0;
    }
  }
}
.content.user-votes {
  @media only screen and (max-width : 575px) {
    padding: 0;
  }
}

.votes {
  &-list {
    margin-bottom: 24px;
  }

  &-item {
    margin-bottom: 8px;

    .date {
      font-size: 14px;
      color: $color-text-light;
      margin-bottom: 8px;
    }
  }

  &-link {
    font-family: $barlow-b-font;
    color: $color-text;
    transition: .2s;

    &:hover {
      color: $color-red;
    }
  }
}
.content.user-followers {
  @media only screen and (max-width : 575px) {
    padding: 0;
  }
}

.followers {
  &-item {
    margin-bottom: 30px;
    border: 1px solid $color-gray;
    @media only screen and (max-width : 991px) {
      margin-bottom: 16px;
    }

    &-content {
      padding: 24px 16px 16px;
      border-bottom: 1px solid $color-gray;
      @media only screen and (max-width : 1429px) {
        min-height: 230px;
      }
      @media only screen and (max-width : 575px) {
        display: flex;
        min-height: 145px;
      }

      .avatar {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
        @media only screen and (max-width : 575px) {
          width: 64px;
          height: 64px;
          margin: 0 16px 0 0;
        }

        .img-box {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;

          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }

        &:hover {
          .img-box {
            filter: grayscale(100%);

            &:before {
              background-color: rgba(0, 0, 0, .65);
            }
          }
        }

        img {
          width: 96px;
          height: 96px;
          object-fit: contain;
          object-position: center;
          @media only screen and (max-width : 575px) {
            width: 64px;
            height: 64px;
          }
        }

        &__no-image {
          .img-box {
            background-color: #f2f2f3;

            &:before {
              display: none;
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 48px;
              height: 48px;
              margin: auto;
            }
          }

          &:hover {
            .img-box {
              background-color: $color-light-gray;
            }
          }
        }
      }
      
      .author-wrapp {
        @media only screen and (max-width : 575px) {
          display: flex;
          flex-direction: column;
        }
      }

      .author {
        margin-bottom: 6px;

        .link {
          color: $color-text;
          font-family: $helvetica-b-font;
          transition: .2s;
          word-break: break-word;
          @media only screen and (max-width : 575px) {
            font-size: 15px;
          }

          &:hover {
            color: $color-red;
          }
        }
      }

      .level {
        display: inline-block;
        border: 1px solid $color-gray;
        &-item {
          display: inline-block;
          padding: 0 6px;
          @media only screen and (max-width : 575px) {
            font-size: 14px;
          }

          &:last-child {
            border-left: 1px solid $color-gray;
          }
        }
      }
    }

    &-bottom {
      .link {
        padding: 12px;
        display: block;
        font-family: $barlow-sb-font;
        color: $color-text;
        text-transform: uppercase;
        transition: .2s;
        outline: none;
        background: transparent;
        border: 0;
        width: 100%;
        cursor: pointer;
        &.disabled {
          opacity: .5;
          &:hover {
            color: $color-text;
            cursor: not-allowed;
          }
        }

        &:hover {
          color: $color-red;
        }
      }
    }
  }

  &-info {
    @media only screen and (max-width : 575px) {
      text-align: left;
    }
  }
}
