@import "../../static/scss/vars";
.intro {
  position: relative;
  max-height: 720px;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 767px){
    max-height: 500px;
  }
  .info{
    @media screen and (min-width: 768px){
      max-width: 78%;
    }
  }
  .swiper-wrapper{
    display: flex;
  }
  .swiper-pagination{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    justify-content: flex-end;
  }
  .slider {
    &-item {
      max-height: 720px;
      height: 100vh;
      min-width: 100%;
      width: 100% !important;
      background-position: center;
      background-size: cover;
      .wrap-content{
        max-height: 720px;
        height: 100%;
        min-width: 100%;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 767px){
          max-height: 500px
        }
      }
    }

    .container-h-100 {
      height: 100%;
    }

    &-content {
      height: 100%;
      position: relative;
      z-index: 1;
      color: #fff;
      padding: 0 15px 96px;
      @media screen and (max-width: 767px) {
        padding-bottom: 66px;
      }
    }

    .title {
      font-size: 55px;
      line-height: 68px;
      font-family: $barlow-bi-font;
      text-transform: uppercase;
      margin-bottom: 25px;
      @media screen and (max-width: 767px){
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 0;
      }
      @media only screen and (max-width: 575px) {
        font-size: 36px;
        line-height: 37px;
      }

      .rectangle {
        @media only screen and (max-width: 575px) {
          width: 50px;
          height: 37px;
        }

        &:before {
          @media only screen and (max-width: 575px) {
            width: 35px;
            height: 40px;
          }
        }
      }
    }

    .btn-wrapp {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .slider-button {
      min-width: 288px;
      min-height: 96px;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $gradient-bg;
  }
  .swiper-pagination{
    display: none;
    //@media screen and (min-width: 768px) {
    //  position: absolute;
    //  bottom: 0;
    //  z-index: 3;
    //  min-height: 96px;
    //  display: flex;
    //  padding-right: 96px;
    //  align-items: center;
    //  color: #ffffff;
    //}
  }
  .desc {
    &-item {
      margin-right: 28px;
      font-size: 14px;
      line-height: 14px;
      color: #fff;

      .number {
        display: inline-block;
        margin-right: 6px;
        text-transform: uppercase;
        font-family: $barlow-sb-font;
      }

      .text {
        display: inline-block;
        margin: 7px 0px;
        opacity: .65;
        color: #fff;
      }
    }
  }
  .swiper-pagination-bullets{
    position: absolute;
    bottom: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    @media screen and (max-width: 767px){
      bottom: 0;
    }
    .swiper-pagination-bullet{
      width: 8px;
      height: 8px;
      margin: 0 4px;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        left: 1px;
        width: 6px;
        height: 8px;
        background: $color-gray;
        transform: skew(-13deg);
        z-index: -1;
      }
      &.swiper-pagination-bullet-active:before {
        background: $color-red;
      }
    }
    @media screen and (min-width: 768px){
      display: none;
    }
  }
}
