@import "../../../static/scss/vars";

//============== ENTRY CONTENT ===========
.entry-content {
  .img-item {
    position: relative;
    max-width: 438px;
    margin: -144px 0 0 auto;
    z-index: 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 256px;
    @media only screen and (max-width: 991px) {
      max-width: 100%;
      margin: 0 0 34px 0;
    }
  }

  h2 {
    font-family: $barlow-bi-font;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 13px;
    text-transform: uppercase;
    @media only screen and (max-width : 767px) {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 8px;
    }

    &__list {
      font-size: 28px;
      line-height: 40px;
      @media only screen and (max-width : 767px) {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 8px;
      }
    }
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
    text-transform: none;
    font-family: $barlow-bi-font;

    @media only screen and (max-width : 767px) {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 7px;
    }
  }

  p {
    margin-bottom: 25px;
    @media only screen and (max-width : 767px) {
      font-size: 15px;
    }
  }

  ul, ol {
    margin: 0 0 57px 45px;
    list-style: none;

    @media only screen and (max-width : 767px) {
      margin: 0 0 39px 15px;
    }
    li {
      margin-bottom: 8px;
      padding-left: 10px;
      color: $color-text;
      @media only screen and (max-width : 767px) {
        font-size: 15px;
      }
    }
  }

  ul {
    li {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        left: -10px;
        top: 10px;
        background: $color-red;
      }
    }
  }

  ol {
    padding: 0;
    font-family: $helvetica-b-font;

    li {
      counter-increment: li;
      padding-left: 17px;
      font-family: $default-font;

      &:nth-child(-n+9) {
        &:before {
          content: counter(li)'.';
        }
      }

      &:before {
        content: counter(li);
        color: $color-red;
        display: inline-block;
        font-family: $helvetica-b-font;
        width: 1.5em;
        font-size: 16px;
        margin-left: -1.5em;
      }
    }
  }

  blockquote {
    margin-bottom: 24px;
    padding-left: 55px;
    font-size: 22px;
    line-height: 28px;
    text-transform: none;
    font-family: $barlow-bi-font;
    position: relative;
    @media only screen and (max-width : 767px) {
      padding-left: 0;
    }
    &:before, &:after {
      content: '';
      top: 0;
      display: block;
      width: 17px;
      height: 28px;
      margin-right: 5px;
      background: $color-red;
      position: absolute;
      left: 8px;
      -webkit-transform: skew(-13deg);
      -ms-transform: skew(-13deg);
      transform: skew(-13deg);
      z-index: -1;
      @media only screen and (max-width : 767px) {
        width: 15px;
        height: 23px;
        margin-right: 5px;
      }
    }

    &:before {
      left: 0;
    }
    &:after {
      left: 22px;
    }

    .author-name {
      font-size: 14px;
    }
  }

  .decoration-elem {
    margin-right: 12px;
  }

  .rectangle {
    width: 17px;
    height: 28px;
    margin-right: 5px;
    @media only screen and (max-width : 767px) {
      width: 15px;
      height: 23px;
      margin-right: 5px;
    }

    &:before {
      width: 17px;
      height: 28px;
      left: 3px;
      @media only screen and (max-width : 767px) {
        width: 15px;
        height: 23px;
        margin-right: 5px;
      }
    }
  }

  //============= form ==============
  .form {
    .text {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  .input,
  textarea {
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 16px;
    border: none;
    border: 1px solid #dadadd;
  }

  .input {
    height: 48px;
  }

  textarea {
    height: 160px;
    resize: none;
  }

  .button__red {
    width: 181px;
  }

  //============= accordion ========
  .accordion {
    &-item {
      border-top: 1px solid $color-gray;
      cursor: pointer;

      &:last-child {
        border-bottom: 1px solid $color-gray;
        @media only screen and (max-width : 575px) {
          border-bottom: none;
        }
      }
      .close{
        display: none;
      }
      &.active {
        .icon-minus {
          display: block;
        }
        .close{
          display: block;
        }

        .icon-plus {
          display: none;
        }

        .accordion-body {
          display: block;
        }
      }
    }

    &-head {
      position: relative;
      min-height: 48px;
      padding: 10px 30px 9px 0;
      @media only screen and (max-width: 575px) {
        padding: 12px 45px 9px 15px;
      }

      .text {
        font-family: $barlow-sbi-font;
        font-size: 22px;
        line-height: 28px;
        transition: .2s;
        @media only screen and (max-width: 575px) {
          font-size: 18px;
          line-height: 23px;
        }
      }

      &:hover {
        .text {
          color: $color-red;
        }
      }

      .icon {
        @include center-height;
        right: 10px;
        width: 24px;
        height: 30px;

        &-minus {
          display: none;
        }
      }
    }

    &-body {
      display: none;
      margin: 7px 0 32px;
      padding: 0 120px 0 0;
      @media only screen and (max-width : 575px) {
        padding: 0 15px;
      }
    }
  }

  //============= list content ============
  .list-content-item {
    margin-bottom: 60px;
  }
  .list-content-wrapp {
    max-width: 448px;
    margin: 0 0 0 auto;

    .title {
      margin-bottom: 39px;
    }

    ol {
      margin: 0 0 16px 40px;
      list-style-type: upper-roman;

      li {
        position: relative;
        min-height: 48px;
        padding: 15px 8px 7px;
        color: $color-text;
        font-family:  $barlow-sb-font;
        text-transform: uppercase;

        .text {
          color: $color-text;
        }

        &.active .text {
          color: $color-red;
        }

        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: -40px;
          width: calc(100% + 40px);
          height: 1px;
          background-color: $color-gray;
        }

        &:last-child:after {
          position: absolute;
          content: "";
          bottom: -8px;
          left: -40px;
          width: calc(100% + 40px);
          height: 1px;
          background-color: $color-gray;
        }
      }
    }
  }
}

//============== ENTRY CONTENT END ===========
.content.entry {
  @media only screen and (max-width : 991px) {
    padding: 0 0 40px;
  }

  &__faq {
    @media only screen and (max-width : 575px) {
      padding: 0;
    }

    .img-item {
      @media only screen and (max-width : 575px) {
        margin: 0;
      }
    }
  }

  &__terms-service {
    @media only screen and (max-width : 991px) {
      padding: 34px 0 76px;
    }
  }
}

