@import "../../static/scss/vars";
//============ must see item============
.must-see {
  &-post {
    padding: 16px 0;
    border-top: $border-btn;

    .avatar {
      min-width: 64px;
      height: 64px;
      margin-right: 24px;
      border-radius: 50%;
      overflow: hidden;
      @media only screen and (max-width : 767px) {
        min-width: 48px;
        height: 48px;
        margin-right: 8px;
      }

      img {
        width: 64px;
        height: 64px;
        object-fit: contain;
        object-position: center;
        @media only screen and (max-width : 767px) {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &-desc {
    .name {
      font-family: $helvetica-b-font;
      color: #fff;

      @media only screen and (max-width : 767px) {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .date {
      color: $color-text-light;
      margin-bottom: 0;
      font-size: 14px;
      @media only screen and (max-width : 767px) {
        line-height: 22px;
      }
    }

    .text-post {
      color: #fff;
      margin-bottom: 18px;
      @media only screen and (max-width : 991px) {
        margin-bottom: 30px;
      }
      @media only screen and (max-width : 767px) {
        font-size: 15px;
        line-height: 22px;
        word-wrap: break-word;
      }
    }

    .desc {
      @media only screen and (max-width : 767px) {
        flex-wrap: wrap;
      }

      &-item {
        @media only screen and (max-width : 767px) {
          margin: 0 20px 10px 0;
        }
      }
    }

    .button__transparent {
      @media only screen and (max-width : 767px) {
        width: auto;
        padding: 0 12px;
      }
    }
  }

  .info-bottom {
    align-items: center;
    @media only screen and (max-width : 1199px) {
      flex-direction: column;
      align-items: start;
    }

    .desc {
      @media only screen and (max-width : 1199px) {
        margin-bottom: 12px;
      }
    }

    .btn-wrapp {
      flex-wrap: wrap;
    }
  }

  .button:first-child {
    margin-right: 8px;
  }

  //========== video-box =========
  .video-box {
    width: 192px;
    height: 108px;
    margin: 16px 0 20px;
    //background: url("../../images/video-box-bg.png") no-repeat center;
    background-size: cover;
  }
}
//============ must see item end==========
//============ must see ============
.must-see {
  .desc-item .number {
    margin-right: 6px;
  }
  margin-bottom: 64px;
  @media only screen and (max-width : 767px) {
    margin-bottom: 0;
   }

  &-responses {
    height: 100%;
    padding: 40px 50px 135px;
    background-color: $color-text;
    @media only screen and (min-width : 1430px) {
      padding: 64px 95px 135px 120px;
    }
    @media only screen and (max-width : 1199px) {
      padding: 40px 40px 135px;
    }
    @media only screen and (max-width : 991px) {
      height: auto;
      padding: 40px 20px 135px;
      margin-bottom: 40px;
    }
    @media only screen and (max-width : 767px) {
      margin: 0 -15px 48px;
  
      padding: 30px 15px;
    }

    .title-h {
      margin-bottom: 30px;
      font-size: 44px;
      line-height: 56px;
      text-transform: uppercase;
      color: #fff;
      font-family: $barlow-bi-font;
      @media only screen and (max-width : 767px) {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 19px;
      }
    }
  }

  &-list {
    max-height: 1266px;
    //padding-right: 25px;
    overflow-y: auto;
    @media only screen and (min-width : 1430px) {
      max-height: 1120px;
    }
    @media only screen and (max-width : 767px) {
      padding-right: 0;
    }
  }
}
//============ must see end==========
