@import "../../static/scss/vars";

//============= FOOTER ===========
.footer {
  padding: 63px 0 56px;
  border-top: 1px solid $color-gray;
  @media only screen and (max-width : 767px) {
    padding: 30px 0;
  }

  &-top {
    margin-bottom: 60px;
    @media only screen and (max-width : 767px) {
      margin-bottom: 30px;
    }
  }

  .logo {
    margin-bottom: 45px;
    @media only screen and (max-width : 767px) {
      margin-bottom: 20px;
      & + .footer-nav {
        .nav {
          flex-direction: column;
          margin-bottom: 30px;
          .list-item {
            margin: 0 0 20px 0;
          }
        }
      }
    }

    &-item {
      @media only screen and (max-width : 767px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  &-nav {
    .list {
      &-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        margin-left: 0;
        @media only screen and (max-width : 767px) {
          display: block;
          margin: 0 0 16px 0;
        }
      }

      &-link {
        color: $color-text;
        text-transform: uppercase;
        font-family: $barlow-sb-font;
        transition: 0.2s;
        &:hover {
          color: $color-red;
        }
      }
    }

    &__social {
      .list-item {
        @media only screen and (max-width : 767px) {
          display: inline-block;
          vertical-align: middle;
          margin-right: 25px;
        }
      }
    }
  }

  .service-policy {
    .link {
      color: $color-text;
    }

    .service {
      padding-right: 5px;
      margin-right: 5px;
      &:not(:last-child){
        border-right: 1px solid $color-text;
      }
    }

    //.policy {
    //  padding-left: 5px;
    //}
  }

  .copyright {
    color: $color-text-light;
  }
}
//============= FOOTER END ===========
