.content.search-results {
  @media only screen and (max-width : 767px) {
    padding: 18px 0 24px;
  }
}

.search-results {
  .search {
    width: 100%;
    height: 48px;

    form {
      display: block;
    }

    input[type="search"] {
      height: 48px;
      padding: 5px 16px 5px 45px;
      margin-bottom: 8px;
    }

    .search-icon {
      left: 16px;
    }

    .result-info {
      font-size: 14px;
      color: $color-text-light;
    }
  }

  &-list {
    @media only screen and (max-width : 767px) {
      margin-bottom: 44px;
    }

    .list-item {
      .img-box {
        margin-bottom: 0;
        @media only screen and (max-width : 767px) {
          margin-bottom: 17px;
          min-height: 331px;
        }
      }
      .info {
        padding-bottom: 0;
      }

      .text-result {
        font-family: $barlow-sb-font;
      }
    }
  }

  .no-result-text {
    margin-bottom: 40px;
    font-family: $barlow-sbi-font;
    font-size: 22px;
    line-height: 28px;
  }
}
