@import "../static/scss/vars";
.content.error-404 {
  padding: 0;
}

.error-404 {
  display: flex;
  align-items: center;
  height: calc(100% - 112px);
  background-color: $color-text;
  color: #fff;
  @media only screen and (max-width : 991px) {
    flex-direction: column;
    height: auto;
  }

  .img-box {
    width: 40%;
    height: 100%;
    background: url("/static/images/error-404-bg.png") no-repeat right center;
    background-size: cover;
    @media only screen and (max-width : 991px) {
      height: 440px;
      margin: 0 auto 0 0;
    }
    @media only screen and (max-width : 767px) {
      width: 50%;
      height: calc( 50vh);
    }
  }

  &-content {
    width: 60%;
    padding: 0 60px 0 30px;
    @media only screen and (max-width : 991px) {
      padding: 48px 15px 56px;
    }
    @media only screen and (max-width : 575px) {
      width: 100%;
    }

    .title {
      max-width: 650px;
      font-size: 85px;
      line-height: 102px;
      margin-bottom: 25px;
      @media only screen and (max-width : 767px) {
        font-size: 43px;
        line-height: 51px;
        margin-bottom: 17px;
      }
    }

    .text {
      font-family: $barlow-sbi-font;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 55px;
      @media only screen and (max-width : 991px) {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 30px;
      }
    }

    .back-link {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $barlow-sbi-font;
      color: #fff;
      line-height: 40px;

      &:hover {
        color: #fff;
      }

      .icon {
        width: 25px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
      }
    }
  }
}
