@import "../static/scss/fonts";
@import "../static/scss/vars";
@import "./search-results";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

*::-webkit-input-placeholder{
  color: #B2B2B8;
}


*:-moz-placeholder {
  color: #B2B2B8;

}

*::-moz-placeholder {
  color: #B2B2B8;
}

*:-ms-input-placeholder{
  color: #B2B2B8;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}
body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html {
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 24px;
  font-family: $default-font;
  color: $color-text;
  overflow-x: hidden !important;
  //overflow: hidden !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

input:focus,
textarea:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.color-red {
  color: $color-red;
}

.marg-b {
  margin-bottom: 30px;
  @media only screen and (max-width : 767px) {
    margin-bottom: 8px;
  }
}

.mobile-marg-b {
  margin-bottom: 48px;
}

.mobile-no-pad {
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

//============ rectangle element styles ========
.rectangle {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 68px;
  color: #fff;
  text-align: center;
  @media only screen and (max-width : 767px) {
    width: 45px;
    height: 45px;
  }

  &:before {
    position: absolute;
    content: "";
    left: 8px;
    width: 54px;
    height: 68px;
    transform: skew(-13deg);
    z-index: -1;
    @media only screen and (max-width : 767px) {
      width: 32px;
      height: 45px;
    }
  }

  &__red:before {
    background: $color-red;
  }

  &__gray:before {
    background: $color-gray;
  }

  &__black:before  {
    background: $color-text;
  }

  &__white:before {
    background: #fff;
  }

  .icon {
    @include center;
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url("/static/images/checked.svg") no-repeat center;
  }

  &__modals {
    width: 478px;
    margin: 0 auto 50px;
    height: 24px;
    &:before {
      width: 100%;
      height: 24px;
      left: 0;
      z-index: inherit;
    }
  }
}

.wrp-front-list-news {
  @media only screen and (max-width : 767px) {
    margin-left: 0;
    margin-right: 0;
  }
}

//=============== titles styles ==========
.title {
  font-family: $barlow-bi-font;
  text-transform: uppercase;

  &__small {
    font-size: 35px;
    //line-height: 48px;
    line-height: 39px;
    margin-bottom: 37px;
    @media only screen and (max-width : 767px) {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 14px;
    }

    .rectangle {
      vertical-align: middle;
      width: 20px;
      height: 48px;
      @media only screen and (max-width : 767px) {
        width: 15px;
        height: 33px;
      }

      &:before {
        width: 34px;
        height: 44px;
        left: 4px;
        top: 0;
        @media only screen and (max-width : 767px) {
          width: 27px;
          height: 33px;
        }
      }
    }
  }

  &__footer {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 30px;

    .rectangle {
      width: 20px;
      height: 40px;
      color: $color-text;

      &:before {
        width: 30px;
        height: 40px;
        top: -4px;
        left: 4px;
      }
    }
  }
}

//========== desc section ========
.desc {
  &-item {
    margin-right: 28px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;

    .number {
      display: inline-block;
      margin-right: 6px;
      text-transform: uppercase;
      font-family: $barlow-sb-font;
    }

    .text {
      display: inline-block;
      margin: 7px 0px;
      opacity: .65;
      color: $color-text-light;
    }
  }
}

//=========== nav social styles =====
.nav {
  &-social {
    .list-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .list-link {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

//=========== BUTTON STYLES ===========
.slider-button {
  background-color: $color-red;

  .arrow-link {
    position: relative;
    width: 33.3%;
    height: 100%;
    text-align: center;

    .icon-arrow {
      @include center;
      width: 15px;
      height: 24px;

      &__left {
        background: url("/static/images/arrow-left.svg") no-repeat center;
        background-size: cover;
      }

      &__right {
        background: url("/static/images/arrow-right.svg") no-repeat center;
        background-size: cover;
      }
    }
  }

  .count-slide {
    width: 33.3%;
    text-align: center;
    font-size: 14px;
    font-family: $barlow-sb-font;
  }

  &__white {
    background-color: #fff;
    border: 1px solid $color-gray;

    .arrow-link {
      .icon-arrow {
        &__left {
          background: url("/static/images/arrow-left-red.svg") no-repeat center;
          background-size: cover;
        }

        &__right {
          background: url("/static/images/arrow-right-red.svg") no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}

.slider-dots {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  .rectangle {
    width: 8px;
    height: 8px;
    margin: 0 4px;

    &:before {
      position: absolute;
      content: "";
      left: 1px;
      width: 6px;
      height: 8px;
      background: $color-gray;
      transform: skew(-13deg);
      z-index: -1;
    }

    &.active:before {
      background: $color-red;
    }
  }
}

.button {
  &__general {
    display: block;
    min-width: 193px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    color: $color-text;
    border: 1px solid $color-gray;
    font-family: $barlow-sb-font;
    text-transform: uppercase;
    transition: .2s;
    cursor: pointer;

    .text {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      &.subscribe {
        position: relative;
        text-align: left;
        width: auto;
        padding-left: 35px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -11px;
          width: 22px;
          height: 22px;
          background: url('data:image/svg+xml;utf8,<svg fill="none" version="1.1" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><path d="m14 8c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2v-3h-2v3h-3v2h3v3h2v-3h3v-2h-3zm1 8c0-2.66 5.33-4 8-4s8 1.34 8 4v2h-16v-2z" clip-rule="evenodd" fill="%23F6423F" fill-rule="evenodd"/></svg>') no-repeat 50% 50%;
          background-size: 22px 16px;
        }
      }
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-right: 10px;

      &__no-text {
        margin: 0;
      }

      img {
        display: block;
      }
    }

    &:hover {
      color: $color-text;
      .text {
        &.subscribe {
          &:before {
            background: url('data:image/svg+xml;utf8,<svg fill="none" version="1.1" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg"><path d="m14 8c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2v-3h-2v3h-3v2h3v3h2v-3h3v-2h-3zm1 8c0-2.66 5.33-4 8-4s8 1.34 8 4v2h-16v-2z" clip-rule="evenodd" fill="%23fff" fill-rule="evenodd"/></svg>') no-repeat 50% 50%;
            background-size: 22px 16px;
          }
        }
      }
    }
  }

  &__transparent {
    min-width: 104px;
    height: 32px;
    padding: 0 15px;
    color: #fff;
    border-radius: 24px;
    border: $border-btn;
    transition: .2s;
    background: transparent;
    cursor: pointer;
    &.disabled {
      opacity: .7;
      cursor: not-allowed;
    }

    &:hover {
      color: #fff;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 20px;
      margin-right: 10px;

      &__arrow-up {
        background: url("/static/images/arrow-up-icon.svg") no-repeat;
      }

      &__share {
        background: url("/static/images/share-icon.svg") no-repeat;
      }

      &__arrow-up-black {
        background: url("/static/images/arrow-up-icon-black.svg") no-repeat;
      }

      &__share-black {
        background: url("/static/images/share-icon-black.svg") no-repeat;
      }
    }

    .text {
      font-size: 14px;
      display: inline-block;
      line-height: 32px;
      height: 32px;
      vertical-align: middle;
    }
  }

  &__white {
    height: 32px;
    padding: 0 22px 0 12px;
    border-radius: 24px;
    border: 1px solid $color-gray;
    margin: 0 8px 8px 0;

    .text {
      display: inline-block;
      height: 32px;
      vertical-align: middle;
      line-height: 30px;
      font-size: 14px;
      color: $color-text;
    }
  }

  &__red {
    display: block;
    min-width: 116px;
    height: 48px;
    padding: 0 12px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    border: none;
    background-color: $color-red;
    font-size: 14px;
    font-family: $barlow-sb-font;
    text-transform: uppercase;
    transition: .2s;
    cursor: pointer;
    &.disabled {
      opacity: .6;
      cursor: not-allowed;
    }


    &:hover {
      color: #fff;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
      width: 24px;
      height: 30px;
      margin-right: 5px;
    }

    &-sendess {
      color: rgba(255, 255, 255, 0.5);

      .icon {
        opacity: 0.15;
      }

      .text-opasity {
        color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  &__gray {
    display: block;
    width: 116px;
    height: 48px;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    color: #B2B2B8;
    border: none;
    background-color: $color-light-gray;
    font-family: $barlow-sb-font;
    text-transform: uppercase;
    transition: .2s;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      &:hover {
        color: #B2B2B8;
        background-color: $color-light-gray;
      }
    }

    &:hover {
      background-color: $color-red;
      color: #fff;
    }
  }

  &-play {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $color-red;
    cursor: pointer;

    .icon {
      width: 10px;
      height: 15px;
      background: url("/static/images/video-play-icon.svg") no-repeat;
      background-size: cover;
    }
  }

  &-smile {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;

    .icon {
      @include center;
      width: 24px;
      height: 24px;
      background: url("/static/images/smile-icon.svg") no-repeat;
    }
  }

  &-close {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;

    .icon {
      @include center;
      width: 24px;
      height: 24px;
      background: url("/static/images/close-icon.svg") no-repeat;
    }
  }

  &-progress {
    position: relative;
    width: 181px;
    height: 8px;
    background-color: #F2F2F3;

    .progress-val {
      position: absolute;
      width: 20%;
      height: 100%;
      background-color: $color-red;
    }
  }
}

.loader {
  width: 68px;

  .red-line {
    height: 8.5px;
    margin-bottom: 5px;
    background-color: $color-red;

    &__1 {
      width: 100%;
    }

    &__2 {
      width: 61px;
    }

    &__3 {
      width: 29px;
    }
  }

  .text {
    font-family: $barlow-sb-font;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.list-link {
  width: 16px;
  height: 16px;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
  }

  .shape {
    width: 4px;
    height: 4px;
    margin-left: 1px;
    border-radius: 50%;
    background-color: $color-text;
    transparent: .2s;
  }

  &:hover,
  &.active {
    .shape {
      background-color: $color-red;
    }
  }
}

//=========== BUTTON STYLES END===========

//============ input styles =======
.search {
  position: relative;
  width: 256px;
  height: 40px;
  margin-right: 33px;
  ::placeholder{
    font-family: $helvetica-l-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  form {
    display: flex;
    position: relative;
  }

  input[type="search"] {
    width: 100%;
    padding: 8px 5px 8px 35px;
    border: none;
    outline: none;
  }

  input[type=search].header-search {
    border-bottom: 1px solid transparent;
    & + search-icon {
      position: absolute;
      bottom: 7px;
    }
  }

  &-icon {
    @include center-height;
    left: 5px;
    width: 17px;
    height: 18px;
    border: none;
    background: url("/static/images/search.svg") no-repeat center;

    &-mobile {
      width: 24px;
      height: 24px;
      position: relative;
    }
  }

  input[type=search].header-search:focus,
  input[type=search].header-search:active {
    border-bottom: 1px solid $color-text;
  }

  input[type=search].popular-search {
    border: 1px solid $color-gray;
  }

  input[type=search].popular-search:focus,
  input[type=search].popular-search:active {
    border: 1px solid #4d4e58;
  }

  form:focus,
  form:active {
    input[type=submit].search-icon {
      background: url("/static/images/search-active.svg") no-repeat center;
    }
  }
}

//============== select =============
.select {
  position: relative;
  height: 48px;
  border: 1px solid $color-gray;
  background: #fff url("/static/images/arrow-down.svg") no-repeat 98% 12px;
  overflow: hidden;
  outline: none;

  select {
    background: 0 0;
    height: 48px;
    padding: 0 16px;
    border: 0;
    width: 100%;
    font-family: $barlow-sb-font;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
  }
}
//=============== radio button styles =========
.radio-block {
  @include center-height;
  display: block;
  width: 100%;
  margin-bottom: 0;
  user-select: none;
  font-family: $default-font;
  font-size: 16px;
  color: $color-light-gray;
  transition: 0.2s;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: -1;

    &:checked~.checkmark-radio {
      border: 2px solid $color-red;

      &:after {
        display: block;
      }
    }
  }
}

.checkmark-radio {
  @include center-height;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $color-light-gray;
  transition: 0.2s;

  &:after {
    @include center;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-red;
    display: none;
  }
}

//============= togle switch ==========
.toggle-bg {
  position: relative;
  display: block;
  width: 44px;
  height: 24px;

  input {
    height: 28px;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    width: 36px;
    z-index: 2;
    &[type="checkbox"] {
      top: -2px;
      width: 44px;

      &:checked + .switch {
        background: $color-red;
        &:after {
          left: 24px;
          background: $white;
        }
      }
    }
  }
}

.switch {
  position: relative;
  display: block;
  width: 44px;
  height: 24px;
  background-color: $color-gray;
  border-radius: 12px;
  pointer-events: none;
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: $color-text-light;
    float: left;
    height: 16px;
    left: 4px;
    top: 4px;
    width: 16px;
    z-index: 1;
    border-radius: 50%;
    pointer-events: none;
  }
}

.toggle-bg input:checked {
  z-index: 0;
}
//=========== input styles end =======

//============= scrollbar style =========
.ScrollbarTrack {
  width: 4px !important;

  .ScrollbarThumb {
    height: 101px !important;
    background: #4D4E58 !important;
    border-radius: 2px;
  }
}
//============ CONTENT ===============
.container {
  @media only screen and (min-width : 1430px) {
    max-width: 1400px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

  }
}
.content {
  padding: 60px 0 120px;
  @media only screen and (max-width : 767px) {
    padding: 18px 0 64px;
  }
  @media only screen and (max-width : 575px) {
    padding: 18px 0 20px;
  }
}

.border-gray {
  height: 1px;
  margin: 16px 0;
  background-color: $color-gray;

  &__coments {
    @media only screen and (max-width : 767px) {
      display: none;
    }
  }
}

//============ CONTENT END ===============

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  position: relative;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}
.RichEditor-editor .notranslate.public-DraftEditor-content,
.RichEditor-editor .DraftEditor-editorContainer{
  min-height: 168px;
  max-height: 168px;
}
.RichEditor-editor .public-DraftEditorPlaceholder-root{
  position: absolute;
  top: 0;
  left: 0;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
  overflow-y: scroll;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  display: flex;
  user-select: none;
  float: left;
  height: 24px;
  &.video{
    float: right;
    flex: 1;
    justify-content: flex-end;
  }
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  //padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  svg{
    box-shadow: 0px 0px 1px 1px rgba(88,144,255,0.5);
  }
}
.RichEditorHeader{
 display: flex;
}
.RichEditor-error{
  color: red;
  margin-top: 10px;
}
.must-see-post{
  .coments{
   position: relative;
  }
  .coments-item {
    position: relative;
    width: 100%;
    height: 48px;
    border: 1px solid #DADADD;
    transition: .2s;
    z-index: 2;
  }
  .coments-input {
    width: 100%;
    height: 46px;
    border: 1px solid rgb(218, 218, 221);
    padding: 10px 90px 10px 10px;
  }
  .modals-body .name,
  .modals-body .text-post{
    color: #121521 ;
  }
}

@import "../static/scss/modals";
