@import "../../static/scss/vars";

.left-sidebar {
  @media only screen and (max-width : 575px) {
    margin: 0 -15px;
  }
  .list {
    max-width: 264px;
    @media only screen and (max-width : 991px) {
      max-width: 100%;
    }

    &-item {
      padding: 12px 0;
      border-top: 1px solid $color-gray;
      @media only screen and (max-width : 575px) {
        padding: 12px 15px;
      }

      &:last-child {
        border-bottom: 1px solid $color-gray;
        @media only screen and (max-width : 575px) {
          border-bottom: none;
        }
      }
    }

    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 24px;
      font-size: 14px;
      @media only screen and (max-width : 991px) {
        padding: 0;
      }

      .icon {
        width: 24px;
        height: 24px;

        &-minus,
        &-plus {
          display: none;
        }

        img {
          width: 24px;
          height: 24px;
          margin-top: -5px;
        }
      }

      .icon-plus {
        font-size: 1rem;
        @media only screen and (max-width : 991px) {
          display: block;
        }
      }

      &:hover,
      &.active {
        .text,
        .value {
          color: $color-red;
          @media only screen and (max-width : 767px) {
            color: $color-text;
          }
        }
      }

      &.active {
        .icon-plus {
          @media only screen and (max-width : 991px) {
            display: none;
          }
        }

        .icon-minus {
          @media only screen and (max-width : 991px) {
            display: block;
          }
        }
      }

      .text {
        text-transform: uppercase;
        color: $color-text;
        font-family: $barlow-sb-font;
        margin: 0;
        transition: .2s;
        @media only screen and (max-width : 575px) {
          font-size: 14px;
          line-height: 24px;
        }
      }

      .value {
        color: $color-text-light;
        transition: .2s;
      }
    }
  }
}

//============ opinions-item item============
.list-item {
  .opinions-item {
    .info {
      padding-bottom: 0;
    }
  }
}

.opinions-item {
  &-head {
    padding: 4px 16px;
    background-color: #f2f2f3;

    .title {
      font-size: 28px;
      line-height: 40px;
      @media only screen and (max-width : 991px) {
        font-size: 18px;
        line-height: 26px;
      }

      .litera {
        margin-right: 10px;
      }
    }
  }

  &-post {
    padding: 16px 0 24px;

    .avatar {
      min-width: 64px;
      height: 64px;
      margin-right: 24px;
      border-radius: 50%;
      overflow: hidden;
      @media only screen and (max-width : 991px) {
        min-width: 48px;
        height: 48px;
        margin-right: 8px;
      }

      img {
        width: 64px;
        height: 64px;
        object-fit: contain;
        object-position: center;
        @media only screen and (max-width : 991px) {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &-desc {
    .name {
      font-family: $helvetica-b-font;

      @media only screen and (max-width : 991px) {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .date {
      color: $color-text-light;
      margin-bottom: 7px;
      font-size: 14px;
      @media only screen and (max-width : 991px) {
        line-height: 22px;
      }
    }

    .text-post {
      margin-bottom: 16px;
      @media only screen and (max-width : 991px) {
        margin-bottom: 8px;
      }
      @media only screen and (max-width : 767px) {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .desc {
      margin-bottom: 12px;

      @media only screen and (max-width : 767px) {
        flex-wrap: wrap;
      }

      &-item {
        color: $color-text;
        @media only screen and (max-width : 767px) {
          margin: 0 20px 0 0;
        }
      }
    }

    .button__transparent {
      border: 1px solid $color-gray;
      @media only screen and (max-width : 767px) {
        width: auto;
      }

      .text {
        color: $color-text;
        @media only screen and (max-width : 767px) {
          font-size: 14px;
        }
      }

      .icon {
        width: 18px;
        height: 20px;
        margin-right: 18px;

        img {
          display: block;
        }
      }
    }

    .button:first-child {
      margin-right: 8px;
    }
  }

  .info-bottom {
    @media only screen and (max-width : 991px) {
      flex-direction: column;
      align-items: start;
    }

    .desc {
      @media only screen and (max-width : 991px) {
        margin-bottom: 3px;
      }
    }
  }


  //========== video-box =========
  .video-box {
    width: 192px;
    height: 108px;
    margin: 16px 0 20px;
    //background: url("../img/video-box-bg.png") no-repeat center;
    background-size: cover;
  }

  //================== coments-box ============
  &-desc__coments {
    .button__transparent {

      @media only screen and (max-width : 767px) {
        padding: 0 12px;
      }

      .icon {
        width: 18px;
        height: 20px;
        margin-right: 10px;
      }

      .text {
        margin: 0;
        font-size: 14px;
        line-height: 32px;
      }
    }
  }

  .coments {
    width: 100%;
    @media only screen and (max-width : 767px) {
      display: none!important;
    }

    .info {
      width: 100%;
    }

    .avatar {
      min-width: 48px;
      height: 48px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    &-item {
      position: relative;
      width: 100%;
      height: 48px;
      border: 1px solid $color-gray;
      transition: .2s;
      z-index: 2;

      &:hover {
        border: $border-btn;

        .button-close {
          border-left: $border-btn;
        }
      }
    }

    &-input{
      width: 100%;
      height: 46px;
      padding: 10px;
      border: none;

      &:checked {
        border: $border-btn;
      }
    }

    .button-smile-wrapp {
      @include center-height;
      width: 24px;
      height: 24px;
      right: 64px;

      &:hover {
        .smile-box {
          display: block;
        }
      }
    }

    .smile-box {
      display: none;
      position: absolute;
      top: 15px;
      right: -16px;
      min-width: 252px;
      min-height: 245px;
      padding-top: 25px;
      z-index: 1;

      :before {
        position: absolute;
        content: "";
        top: 19px;
        right: 20px;
        width: 12px;
        height: 12px;
        border-top: 1px solid $color-gray;
        border-right: 1px solid $color-gray;
        background-color: #fff;
        z-index: 3;
        transform: rotate(-45deg);
      }

      &-content {
        min-height: 218px;
        padding: 8px;
        border: 1px solid $color-gray;
        background-color: #fff;
        z-index: 1;
      }
    }

    .button-close {
      display: inline-block;
      min-width: 48px;
      height: 46px;
      border-left: 1px solid $color-gray;
      transition: .2s;
    }

    .opinions-item-desc__coments {
      position: relative;
    }

    &-nav {
      position: absolute;
      top: 22px;
      right: 0;
      min-width: 160px;
      padding: 5px 0;
      background-color: #fff;
      border: 1px solid $color-gray;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      z-index: 2;

      &-item {
        padding: 0 15px 8px 23px;
        font-size: 14px;
        line-height: 24px;
        transition: .2s;
        cursor: pointer;

        &:hover {
          color: $color-red;
          background-color: #F2F2F3;
        }
      }
    }
  }
}
//============ opinions-item end==========
