@font-face {
  font-family: 'Barlow-Bold';
  font-display: auto;
  src: url("/static/fonts/Barlow/Barlow-Bold.eot") format('eot'),
       url("/static/fonts/Barlow/Barlow-Bold.svg") format('svg'),
       url("/static/fonts/Barlow/Barlow-Bold.woff") format('woff'),
       url("/static/fonts/Barlow/Barlow-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Barlow-SemiBold';
  font-display: auto;
  src: url("/static/fonts/Barlow/Barlow-SemiBold.eot") format('eot'),
  url("/static/fonts/Barlow/Barlow-SemiBold.svg") format('svg'),
  url("/static/fonts/Barlow/Barlow-SemiBold.woff") format('woff'),
  url("/static/fonts/Barlow/Barlow-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Barlow-BoldItalic';
  font-display: auto;
  src: url("/static/fonts/Barlow/Barlow-BoldItalic.eot") format('eot'),
  url("/static/fonts/Barlow/Barlow-BoldItalic.svg") format('svg'),
  url("/static/fonts/Barlow/Barlow-BoldItalic.woff") format('woff'),
  url("/static/fonts/Barlow/Barlow-BoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  font-display: auto;
  src: url("/static/fonts/Helvetica/HelveticaNeue-Light.eot") format('eot'),
       url("/static/fonts/Helvetica/HelveticaNeue-Light.svg") format('svg'),
       url("/static/fonts/Helvetica/HelveticaNeue-Light.woff") format('woff'),
       url("/static/fonts/Helvetica/HelveticaNeue-Light.ttf") format('truetype');
}
