@media only screen and (max-width : 1199px) {
	/**/
}

@media only screen and (max-width : 991px) {
	/**/
}

@media only screen and (max-width : 767px) {
  .rectangle {
    width: 45px;
    height: 45px;

    &:before {
      width: 32px;
      height: 45px;
    }
  }

  .marg-b {
    margin-bottom: 24px;
  }

  .header-top-left {
    justify-content: space-between;
    width: 100%;
  }

  .logo-item {
    font-size: 18px;
    font-family: $barlow-b-font;
    color: $color-text;
  }

  .serch-icon-mobile {
    width: 24px;
    height: 24px;
    position: relative;

    .search-icon {
      left: 0;
    }
  }
  .header-nav {
    .nav-list {
      max-width: 480px;
      width: 100%;
    }
    .nav-link .text {
      display: none;
    }
  }

  .intro {
    .slider {
      .title {
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 0;
      }

      .desc {
        margin: 15px 0 20px;
      }

      .btn-wrapp {
        justify-content: space-around;
      }

      &-dots {
        display: flex;
        align-items: center;
        margin-bottom: 35px;

        .rectangle {
          width: 8px;
          height: 8px;

          &:before {
            position: absolute;
            content: "";
            left: 1px;
            width: 6px;
            height: 8px;
            background: $color-gray;
            transform: skew(-13deg);
            z-index: -1;
          }

          &.active:before {
            background: $color-red;
          }
        }
      }
    }
  }

  .content {
    padding: 18px 0 64px;                         ;
  }

  .list {
    &-news {
      margin-bottom: 48px;

      .title-h {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 14px;
      }

      &-content {
        margin-bottom: 0;
      }
    }

    &-item {
      &-main {
        height: 540px;

        .info {
          padding: 12px 15px;
        }

        .title {
          font-size: 24px;
          line-height: 33px;

          .rectangle {
            width: 33px;
            height: 33px;

            &:before {
              left: 4px;
              width: 25px;
              height: 33px;
            }
          }
        }

        .desc {
          margin-top: 10px;
        }
      }

      .img-box {
        margin-bottom: 17px;
      }

      .info {
        padding-bottom: 0;
      }

      .title {
        font-size: 18px;
        line-height: 23px;

        .rectangle {
          width: 23px;
          height: 23px;

          &:before {
            left: 3px;
            width: 18px;
            height: 23px;
          }
        }
      }

      .text {
        font-size: 15px;
        line-height: 22px;
        margin:7px 0 8px;
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .header-top,
  .header-nav {
    min-height: 48px;
  }
  .header-nav {
    .nav-list {
      justify-content: space-between;
    }
    .nav-item {
      margin: 0 5px;
    }
  }

  .list-item-main {
    height: calc(100vw - 30px);
  }
}



