.modals-wrapp {
  padding: 100px 0;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  .title__modals {
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
  }

  .modals-box {
    margin-bottom: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
}

//=============== MODALS STYLES ==============
.modals {
  position: relative;
  max-width: 928px;
  margin: 30px auto 30px !important;
  @media screen and (max-width: 575.98px) {
    margin: 0 auto !important;

  }

  &-content {
    background-color: #fff;
  }

  &-body {
    padding-bottom: 24px;
    @media only screen and (max-width : 575px) {
      padding: 73px 15px 16px;
    }
  }

  &-close {
    position: absolute;
    display: inline-block;
    top: - 30px;
    right: 0;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-family: $barlow-sb-font;
    @media only screen and (max-width : 575px) {
      color: $color-text;
      top: 15px;
      right: 15px;
    }

    &:hover {
      color: #fff;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 30px;
      margin-left: 8px;
    }
  }

  .title {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 22px;
    text-align: center;
    @media only screen and (max-width : 575px) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 30px;
    }

    &__small {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 8px;
      text-transform: none;
      @media only screen and (max-width : 575px) {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  .title-info {
    max-width: 688px;
    margin: 0 auto 30px;
    font-family: $barlow-sbi-font;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
  }

  .text {
    font-size: 14px;
    color: $color-text-light;
  }

  .form {
    width: 478px;
    margin: 0 auto;
    @media only screen and (max-width : 575px) {
      width: 100%;
    }

    &__build-profile {
      @media only screen and (min-width : 992px) {
        width: 688px;
      }
    }

    .text {
      margin-bottom: 8px;
    }

    .input {
      width: 100%;
      height: 48px;
      margin-bottom: 16px;
      padding: 12px 16px;
      border: 1px solid #dadadd;
    }

    .select {
      margin-bottom: 16px;
    }

    .select-date {
      position: relative;
      width: 100%;
      min-height: 48px;
      margin-bottom: 16px;
      border: 1px solid #dadadd;

      .icon {
        @include center-height;
        left: 16px;
      }
    }

    .input-box {
      position: relative;
      height: 48px;
      margin-bottom: 16px;

      .input {
        padding-right: 45px;
      }

      .icon {
         @include center-height;
         right: 16px;
      }
    }

    .right-link {
      font-size: 14px;
      text-transform: uppercase;
      font-family: Barlow-SemiBold,arial,sans-serif;
      color: #121521;
    }

    .check-block {
      .text {
        margin-right: 14px;
      }

      .toggle-bg {
        margin-bottom: 8px;
      }
    }

    .favorites-list {
      margin-bottom: 24px;

      .check-block,
      .select {
        width: 50%;
        height: 48px;
        border: 1px solid #dadadd;
        border-top: none;
        @media only screen and (max-width : 575px) {
          width: 100%;
        }
      }

      .check-block {
        padding: 12px 16px;
        border-right: none;
        @media only screen and (max-width : 575px) {
          border-right: 1px solid #dadadd;
          border-top: 1px solid #dadadd;
        }

        .text {
          margin: 0;
          font-size: 16px;

          &.checked-active {
            color: $color-text;
          }
        }

        .toggle-bg {
          margin-bottom: 0;
        }
      }

      .select {
        margin-bottom: 0;

        select {
          font-family: HelveticaNeue-Light,arial,sans-serif;
          font-size: 16px;
          text-transform: none;
          color: #b2b2b8;
        }

        &.select-active select {
          color: $color-text;
        }
      }

      .favorites-item {
        @media only screen and (max-width : 575px) {
          flex-direction: column;
          margin-bottom: 8px;
        }
      }

      .favorites-item:first-child .check-block,
      .favorites-item:first-child .select {
        border-top: 1px solid #dadadd;
      }

      .favorites-item:first-child .select {
        @media only screen and (max-width : 575px) {
           border-top: none;
        }
      }
    }

    .btn-wrapp {
      margin: 8px 0 24px;

      .button__red {
        width: 180px;
      }
    }

    .text-bottom {
      font-family: $barlow-sb-font;
      color: $color-text;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &-avatar {
    height: 65px;
    padding: 0 16px;

    .avatar {
      min-width: 48px;
      height: 48px;
      margin-right: 16px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
        object-position: center;
      }
    }

    .name {
      font-family: $barlow-sbi-font;
      font-size: 22px;
      line-height: 28px;
      @media only screen and (max-width : 575px) {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  &-footer {
    padding: 25px 7px 50px;
    background-color: #f2f2f3;
    border-top: 1px solid $color-gray;
    @media only screen and (max-width : 575px) {
      padding: 25px 15px 15px;
    }

    .title {
      margin-bottom: 22px;
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
      font-family: $helvetica-b-font;
    }

    .btn-wrapp {
      @media only screen and (max-width : 575px) {
        flex-direction: column;
      }
    }

    .button__general {
      width: 270px;
      margin: 0 8px;
      @media only screen and (max-width : 575px) {
        width: 100%;
        margin: 0 0 8px 0;
      }
    }
  }

  &-bottom {
    padding: 16px 0 16px;
    background: transparent;
    @media only screen and (max-width : 575px) {
      background-color: #fff;
    }

    .text {
      text-align: center;
      font-size: 14px;
      color: #fff;
      @media only screen and (max-width : 575px) {
         color: $color-text;
      }
    }
  }


  //=============== password popup ===========
  &__password {
    .modals-body {
      padding-bottom: 72px;
    }
  }

  //============== build-profile ============
  &__build-profile {
    .modals-body {
      padding-bottom: 86px;
    }

    @media only screen and (max-width : 575px) {
      padding-bottom: 50px;
    }
  }

  //============ notifications messages ======
  &__notifications {
    max-width: 448px;

    .modals {
      &-top {
        height: 48px;
        background-color: #fff;
      }
      &-close {
        @media only screen and (max-width : 575px) {
           top: 10px;
        }
      }

      &-avatar {
        background-color: $color-red;

        .name {;
          color: #fff;
        }
      }

      &-body {
        height: 600px;
        padding: 16px;
        background-color: #f2f2f3;
        overflow-y: auto;

        .chat {
          &-item {
            margin-bottom: 16px;
          }
          .date {
            font-size: 14px;
            text-align: center;
            color: $color-text-light;
            margin-bottom: 16px;
          }

          &-box {
            position: relative;
            width: fit-content;
            max-width: 355px;
            padding: 8px 18px;
            border: 1px solid $color-gray;
            border-radius: 12px;
            margin: 0 0 8px 9px;
            @media only screen and (max-width : 479px) {
               max-width: 100%;
            }

            &__left {
              background-color: #fff;

              &:before {
                position: absolute;
                content: "";
                top: 0;
                left: -9px;
                border: 10px solid transparent;
                border-top: 17px solid #fff;
                z-index: 1;
              }

              &:after {
                position: absolute;
                content: "";
                top: -1px;
                left: -11px;
                border: 10px solid transparent;
                border-top: 18px solid $color-gray;
              }

              @media only screen and (max-width : 479px) {
                margin-right: 10vw;
              }
            }
            &__right {
              margin: 0 9px 0 auto;
              &:before {
                position: absolute;
                content: "";
                top: 0;
                right: -9px;
                border: 9px solid transparent;
                border-top: 17px solid #f2f2f3;
                z-index: 1;
              }

              &:after {
                position: absolute;
                content: "";
                top: -1px;
                right: -12px;
                border: 11px solid transparent;
                border-top: 18px solid $color-gray;
              }
              @media only screen and (max-width : 479px) {
                margin-left: 10vw;
              }
            }
          }

          .text {
            padding-right: 18px;
          }

          .time {
            font-size: 14px;
            color: $color-text-light;
            text-align: right;
          }
        }
      }

      &-bottom {
        position: relative;
        height: 57px;
        padding: 0;
        border-top: 1px solid $color-gray;

        .input {
          width: 100%;
          height: 57px;
          padding: 0 45px 0 16px;
          border: none;
        }

        .icon {
          @include center-height;
          right: 16px;
        }
      }
    }

    .no-messages {
      height: 100%;
      .icon-wrapp {
        position: relative;
        margin-bottom: 24px;
      }

      .icon {
        @include center-height;
        right: 0;
        width: 60px;
        height: 48px;
      }
      .rectangle {
        width: 96px;
        height: 96px;
        &:before {
          left: 0;
          width: 74px;
          height: 96px;
          z-index: 0;
        }
      }
    }
  }

  &__edit {
    .modals-body {
      max-width: 688px;
      margin: 0 auto;
      padding-bottom: 72px;
      @media only screen and (max-width : 575px) {
        padding-bottom: 24px;
      }
    }

    .title {
      margin-bottom: 16px;
      @media only screen and (max-width : 575px) {
        margin-bottom: 8px;
      }

      &__small {
        margin-bottom: 30px;
        @media only screen and (max-width : 575px) {
          margin-bottom: 13px;
        }
      }
    }

    &-message {
      .title {
        margin-bottom: 30px;
        @media only screen and (max-width : 575px) {
          margin-bottom: 16px;
        }
      }
    }

    .modals-avatar {
      margin-bottom: 16px;

      .name {
        font-size: 16px;
        line-height: 24px;
        font-family: $helvetica-b-font;
        margin-bottom: 0;
      }
    }

    .form {
      width: 100%;
      padding: 0 15px;
      @media only screen and (max-width : 575px) {
        padding: 0;
      }

      .text-bottom {
        margin: 0 24px 0 0;
      }
    }

    .edit-box {
      min-height: 216px;
      margin-bottom: 24px;
      //background-color: #ccc;
    }
  }

  &__poll-detail {
    max-width: 752px;

    .modals-body {
      padding-bottom: 48px;
    }
    .top-box {
      padding: 32px 32px 16px;

      .video-box {
        height: 385px;
        margin-bottom: 24px;
        background: url(/static/images/video-box-bg.png) no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      .button-play {
        width: 84px;
        height: 84px;

        .icon {
          width: 20px;
          height: 25px;
          margin-left: 7px;
        }
      }
    }

    .opinions-item-post {
      padding: 0;
    }
  }

  .add-comment {
    padding: 21px 34px 18px 48px;
    background-color: #F2F2F3;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;

    .opinions-item {
      .coments {
        .button-video-wrapp {
          @include center-height;
          width: 24px;
          height: 30px;
          right: 20px;
        }
      }
    }
  }

  .opinions-list {
    padding: 14px 32px;

    .opinions-item {
      padding: 16px 0;
      border-bottom: 1px solid $color-gray;

      &:last-child {
        border-bottom: none;
      }
    }

    .info {
      width: 100%;
    }

    .button__transparent {
      padding: 0;

      .text {
        margin-right: 0;
      }
    }
  }

  .member-opinions-head {
    margin: 0 0 33px 0;
  }
}
.ScrollbarsCustom-Wrapper{
  right: 0 !important;
}

.popup-content.register-content .ScrollbarsCustom{
  @media (max-height: 896px) {
    min-height: 100vh !important;
  }
}
.popup-content.login-content .ScrollbarsCustom{
  @media (max-height: 704px) {
    min-height: 100vh !important;
  }
}
.popup-content.build-profile-content .ScrollbarsCustom{
  @media (max-height: 944px) {
    min-height: 100vh !important;
  }
  @media (max-width: 575.98px) {
    .css-1jfubky-container{
      width: 100%;
    }
  }
}
