@import "./vars";
@import "../../components/PollsPage/index";

.intro-bg {
  background-color: $color-text;

  &-wrapp {
    height: 168px;
    @media only screen and (max-width : 767px) {
      height: 64px;
    }
  }

  .title {
    position: relative;
    display: inline-block;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 0;
    color: #fff;
    z-index: 1;
    @media only screen and (max-width : 767px) {
      font-size: 28px;
      line-height: 40px;
    }

    .rectangle {
      height: 58px;
      @media only screen and (max-width : 767px) {
        height: 36px;
      }

      &:before {
        width: 46px;
        height: 58px;
        top: -7px;
        @media only screen and (max-width : 767px) {
          width: 28px;
          height: 36px;
          top: -3px;
        }
      }
    }
  }
}

.content.search-results {
  @media only screen and (max-width : 767px) {
    padding: 18px 0 24px;
  }
}

.list-item .desc-item {
  margin-right: 28px;
  font-size: 14px;
  color: #121521;
}
.search-results {
  .search {
    width: 100%;
    height: 48px;
    margin-bottom: 80px;

    form {
      display: block;
    }

    input[type="search"] {
      height: 48px;
      padding: 5px 16px 5px 45px;
      margin-bottom: 8px;
    }

    .search-icon {
      left: 16px;
    }

    .result-info {
      font-size: 14px;
      color: $color-text-light;
    }
  }

  &-list {
    @media only screen and (max-width : 767px) {
      margin-bottom: 44px;
    }

    .list-item {
      .img-box {
        margin-bottom: 0;
        @media only screen and (max-width : 767px) {
          margin-bottom: 17px;
        }
      }
      .info {
        padding-bottom: 0;
      }

      .text-result {
        font-family: $barlow-sb-font;
      }
    }
  }

  .no-result-text {
    margin-bottom: 40px;
    font-family: $barlow-sbi-font;
    font-size: 22px;
    line-height: 28px;
  }
}
