$default-font: 'HelveticaNeue-Light', arial, sans-serif;
$helvetica-b-font: 'HelveticaNeue-Bold', arial, sans-serif;
$helvetica-l-font: 'HelveticaNeue-Light', arial, sans-serif;
$barlow-b-font: 'Barlow-Bold', arial, sans-serif;
$barlow-sb-font: 'Barlow-SemiBold', arial, sans-serif;
$barlow-bi-font: 'Barlow-BoldItalic', arial, sans-serif;
$barlow-sbi-font: 'Barlow-SemiBoldItalic', arial, sans-serif;

$color-text: #121521;
$color-red: #F6423F;
$color-text-light: #888990;
$color-gray: #DADADD;
$color-light-gray: #4D4E58;
$white: #ffffff;

$border-btn: 1px solid #4D4E58;
$gradient-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 12.58%, rgba(0, 0, 0, 0.65) 59.35%);
$gradient-bg-small: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 8.94%, rgba(0, 0, 0, 0.65) 94%);

//============= MIXINS ==========
@mixin center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin center-width{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-height{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
