@import "../../static/scss/vars";

//============== MEMBER OPINIONS LIST ======
.intro__poll-details {
  overflow: visible;
}

.member-opinions {
  &-head {
    margin: 96px 0 38px;
    align-items: center;
    @media only screen and (max-width : 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 16px;
      margin-top: 56px;
    }

    .title {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 0;
      @media only screen and (max-width : 767px) {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
      }

      .rectangle {
        width: 15px;
        height: 56px;
        @media only screen and (max-width : 767px) {
          height: 36px;
        }

        &:before {
          width: 40px;
          height: 56px;
          top: -6px;
          @media only screen and (max-width : 767px) {
            width: 30px;
            height: 36px;
          }
        }
      }
    }

    .button__general {
      min-width: 48px;
      width: 48px;
      margin-right: 8px;
    }

    .css-wq5td2-control,
    .css-1re1a64-control {
      margin-left: 0;
    }

    .select {
      width: 169px;
      .menu{
        position: absolute;
      }
    }
  }
}

//============== POLL-DETAILS PAGE END======

//============ opinions-item item============
.opinions-item {
  &-head {
    padding: 4px 16px;
    background-color: #f2f2f3;

    .title {
      font-size: 28px;
      line-height: 40px;
      @media only screen and (max-width : 767px) {
        font-size: 18px;
        line-height: 26px;
      }

      .litera {
        margin-right: 10px;
      }
    }
  }

  &-post {
    padding: 16px 0 24px;

    .avatar {
      min-width: 64px;
      height: 64px;
      margin-right: 24px;
      border-radius: 50%;
      overflow: hidden;
      @media only screen and (max-width : 767px) {
        min-width: 48px;
        height: 48px;
        margin-right: 8px;
      }

      img {
        width: 64px;
        height: 64px;
        object-fit: contain;
        object-position: center;
        @media only screen and (max-width : 767px) {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &-desc {
    .name {
      font-family: $helvetica-b-font;

      @media only screen and (max-width : 767px) {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .date {
      color: $color-text-light;
      margin-bottom: 7px;
      font-size: 14px;
      @media only screen and (max-width : 767px) {
        line-height: 22px;
      }
    }

    .text-post {
      margin-bottom: 16px;
      @media only screen and (max-width : 991px) {
        margin-bottom: 8px;
      }
      @media only screen and (max-width : 767px) {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .desc {
      margin-bottom: 12px;

      @media only screen and (max-width : 767px) {
        flex-wrap: wrap;
      }

      &-item {
        color: $color-text;
        @media only screen and (max-width : 767px) {
          margin: 0 20px 10px 0;
        }
      }
    }

    .button__transparent {
      border: 1px solid $color-gray;
      @media only screen and (max-width : 767px) {
        width: auto;
        padding: 0 12px;
      }
      &.disabled {
        opacity: 0.5;
      }

      .text {
        margin-right: 20px;
        color: $color-text;
      }

      .icon {
        width: 18px;
        height: 20px;
        margin-right: 10px;

        img {
          display: block;
        }
      }
    }
  }

  .info-bottom {
    @media only screen and (max-width : 991px) {
      flex-direction: column;
      align-items: start;
    }

    .desc {
      @media only screen and (max-width : 991px) {
        margin-bottom: 3px;
      }
    }
  }

  .button:first-child {
    margin-right: 8px;
  }

  //========== video-box =========
  .video-box {
    width: 192px;
    height: 108px;
    margin: 16px 0 20px;
    //background: url("/static/images/video-box-bg.png") no-repeat center;
    background-size: cover;
  }

  //================== coments-box ============
  &-desc__coments {
    .button__transparent {
      @media only screen and (max-width : 767px) {
        padding: 0 12px;
      }

      .icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }

      .text {
        margin-right: 0;
      }
    }
  }

  .coments {
    @media only screen and (max-width : 767px) {
      display: none!important;
    }

    .info {
      width: 100%;
    }

    .avatar {
      min-width: 48px;
      height: 48px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    &-item {
      position: relative;
      width: 100%;
      height: 48px;
      border: 1px solid $color-gray;
      transition: .2s;
      z-index: 2;

      &:hover {
        border: $border-btn;

        .button-close {
          border-left: $border-btn;
        }
      }
    }

    &-input{
      width: 100%;
      height: 46px;
      padding: 10px;
      border: none;

      &:checked {
        border: $border-btn;
      }
    }

    .button-smile-wrapp {
      @include center-height;
      width: 24px;
      height: 24px;
      right: 64px;

      &:hover {
        .smile-box {
          display: block;
        }
      }
    }

    .smile-box {
      display: none;
      position: absolute;
      top: 15px;
      right: -16px;
      min-width: 252px;
      min-height: 245px;
      padding-top: 25px;
      z-index: 1;

      :before {
        position: absolute;
        content: "";
        top: 19px;
        right: 20px;
        width: 12px;
        height: 12px;
        border-top: 1px solid $color-gray;
        border-right: 1px solid $color-gray;
        background-color: #fff;
        z-index: 3;
        transform: rotate(-45deg);
      }

      &-content {
        min-height: 218px;
        padding: 8px;
        border: 1px solid $color-gray;
        background-color: #fff;
        z-index: 1;
      }
    }

    .button-close {
      display: inline-block;
      min-width: 48px;
      height: 46px;
      border-left: 1px solid $color-gray;
      transition: .2s;
    }

    .opinions-item-desc__coments {
      position: relative;
    }

    &-nav {
      position: absolute;
      top: 22px;
      right: 0;
      min-width: 160px;
      padding: 5px 0;
      background-color: #fff;
      border: 1px solid $color-gray;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      z-index: 2;

      &-item {
        padding: 0 15px 8px 23px;
        font-size: 14px;
        line-height: 24px;
        transition: .2s;
        cursor: pointer;

        &:hover {
          color: $color-red;
          background-color: #F2F2F3;
        }
      }
    }
  }
}
//============ opinions-item end==========
