.tab-pane.moderator-wrapp {
  margin-top: 0;
  background-color: #fff;
  border: 1px solid #dfe3e9;

  .card-body {
    padding: 30px;
  }

  .card__left {
    padding-right: 0;
    border: none;
  }

  .card__right {
    height: 100%;
    padding-left: 0;
    border: none;
  }

  .col-item {
    width: 50%;
  }

  .form-title-h {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #354052;
  }

  .favorite-sport-wrapp {
    .col-box {
      border: 1px solid #f2f3f5;
    }

    .col-item {
      padding: 8px 15px;

      &:first-child {
        border-right: 1px solid #f2f3f5;
      }
    }

    .switch-row {
      height: 36px;
    }
  }

  .private-information-wrapp {
    input {
      background-color: #f7f9fb;
    }

  }

  .moderators-list {
    height: calc(100% - 85px);
    padding: 10px;
    border: 1px solid #dfe3e9;
    border-radius: .25rem;
    overflow-y: auto;
  }
}

